.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}


/* c-video */
.c-video {
  background: transparent;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  position: relative;
  @include media("<tablet") {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
  }

  &__inner {
    position: relative;
    text-align: center;
    z-index: 3;
    @include media("<tablet") {
      padding: 0;
    }
  }


  &__embed-container {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  &__embed-container iframe,
  &__embed-container object,
  &__embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.wp-video {
  width: 100% !important;
  @include media('<tablet') {
    height: 100% !important;
  }
}

.mejs-container {
  @include media('<tablet') {
    height: 100% !important;
  }
}

.mejs-controls {
  display: none !important;
  visibility: hidden !important;
}

.c-mapa {
  background: transparent;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  position: relative;
  @include media("<tablet") {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
  }

  &__inner {
    position: relative;
    text-align: center;
    z-index: 3;
    @include media("<tablet") {
      padding: 0;
    }
  }

  &__heading {
    color: #000;
    font-family: "Noticia Text", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }


  &__embed-container {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  &__embed-container iframe,
  &__embed-container object,
  &__embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}