body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  @include sans;
  font-size: 18px;
  font-weight: 300;
  line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
