.c-main-menu {
  transition: opacity .3s, visibility .3s;

  &__list {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        align-items: center;
        background-color: transparent;
        box-sizing: border-box;
        color: #979797;
        display: flex;
        font-family: "Mulish", Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
        height: 32px;
        line-height: 21px;
        margin-right: var(--space-xs);
        padding: 0 var(--space-xs);
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
      }

      &.menu-item-has-children {
        position: relative;

        &:hover {
          ul.sub-menu {
            display: block;

            li a {
              @include media('<tablet') {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    li.menu-item-has-children > a:after {
      color: #9a9a9a;
      content: ' ▼';
      font-size: 10px;
      margin-left: 10px;
      vertical-align: 1px;
      @include media('<tablet') {
        color: darken($axe_yellow, 40%) !important;
      }
    }

    li li.menu-item-has-children > a:after {
      color: #9a9a9a;
      content: ' ►';
      font-size: 10px;
      margin-left: 10px;
      vertical-align: 1px;
      @include media('<tablet') {
        color: darken($axe_yellow, 40%) !important;
      }
    }

    ul.sub-menu {
      display: none;
      padding-left: 0;
      position: absolute;

      @include media('<tablet') {
        display: block;
        margin-bottom: 15px;
        position: relative;
      }

      li {
        a {
          background: $axe_yellow;
          color: darken($axe_yellow, 40%) !important;
          @include media('<tablet') {
            background: darken($axe_yellow, 10%);
            margin-bottom: 0;
          }

          &:hover {
            background: darken($axe_yellow, 10%);
            color: darken($axe_yellow, 40%);
          }
        }
      }
    }
  }
}

.main-navigation {
  display: block;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      left: -999em;
      position: absolute;
      top: 100%;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {

        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {

  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    flex: 1 0 50%;
    text-align: end;
  }
}
