@charset "UTF-8";
/*!
Theme Name: AxE
Theme URI: https://underscores.me/
Author: Automattic
Author URI: https://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: AxE
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

_s is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/* Include media
--------------------------------------------- */
/* Baseline
================================================== */
/* Spacing
================================================== */
:root {
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 24px;
	--space-xl: 32px;
	--space-2xl: 48px;
	--space-3xl: 64px;
	--space-4xl: 80px;
}

/*

Usage examples:

Single value:
  padding: var(--space-xl);

Multi value:
  padding: var(--space-m) 0 var(--space-l);

 */
/*
    ===============================
    BOURBON NEAT GRID
    ===============================
*/
/*
@mixin u-container() {
  @include grid-container;
  box-sizing   : border-box;
  margin-left  : auto;
  margin-right : auto;
  max-width    : $max-width;
}

.u-container {
  @include u-container;
}
*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

ol, ul {
	list-style: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Mulish', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noticia Text', serif;
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.line {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1136px + 64px);
	padding-left: 32px;
	padding-right: 32px;
	width: 100%;
	border-bottom: solid 1px #afd9e5;
	margin: 48px auto 0;
}

@media (max-width: 767px) {
	.line {
		max-width: calc(1136px + 32px);
		padding-left: 16px;
		padding-right: 16px;
	}
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.o-container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1136px + 64px);
	padding-left: 32px;
	padding-right: 32px;
	width: 100%;
}

@media (max-width: 767px) {
	.o-container {
		max-width: calc(1136px + 32px);
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media (min-width: 769px) {
	.o-container-narrow {
		padding-left: var(--space-4xl);
		padding-right: var(--space-4xl);
	}
}

.o-section {
	margin: var(--space-4xl) auto;
}

@media (max-width: 767px) {
	.o-section {
		margin: var(--space-l) auto;
	}
}

.black {
	color: #000000 !important;
}

.o-container-extra-narrow {
	max-width: 880px;
}

@media (max-width: 767px) {
	.o-container-extra-narrow {
		max-width: 100%;
	}
}

/* Links
--------------------------------------------- */
a {
	color: currentColor;
}

a:visited {
	color: currentColor;
}

a:hover, a:focus, a:active {
	color: currentColor;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #ffd748;
	border: 0;
	border-color: #7b6000;
	border-radius: 8px;
	color: #7b6000;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	padding: var(--space-xxs) var(--space-l);
	text-transform: uppercase;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #7b6000;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #7b6000;
}

.o-button {
	font-family: 'Mulish', sans-serif;
	background: #ffd748;
	border-radius: 8px;
	color: #7b6000;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	padding: var(--space-m) 80px;
	text-transform: uppercase;
}

.o-button__icon-wrapper {
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 100%;
	color: #000000;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 24px;
}

.o-button__block {
	background: #ffd748;
	display: block;
	padding: 18px;
	width: 100%;
}

.o-button-yellow {
	background: #ffd748;
	color: #7b6000;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid #AFD9E5;
	border-radius: 8px;
	color: #666;
	padding: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #AFD9E5;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Components
--------------------------------------------- */
/* Navigation
--------------------------------------------- */
.c-main-menu {
	transition: opacity .3s, visibility .3s;
}

.c-main-menu__list {
	display: flex;
	justify-content: flex-end;
}

.c-main-menu__list li a {
	align-items: center;
	background-color: transparent;
	box-sizing: border-box;
	color: #979797;
	display: flex;
	font-family: "Mulish", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 600;
	height: 32px;
	line-height: 21px;
	margin-right: var(--space-xs);
	padding: 0 var(--space-xs);
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

.c-main-menu__list li.menu-item-has-children {
	position: relative;
}

.c-main-menu__list li.menu-item-has-children:hover ul.sub-menu {
	display: block;
}

@media (max-width: 767px) {
	.c-main-menu__list li.menu-item-has-children:hover ul.sub-menu li a {
		margin-bottom: 0;
	}
}

.c-main-menu__list li.menu-item-has-children > a:after {
	color: #9a9a9a;
	content: ' ▼';
	font-size: 10px;
	margin-left: 10px;
	vertical-align: 1px;
}

@media (max-width: 767px) {
	.c-main-menu__list li.menu-item-has-children > a:after {
		color: #7b6000 !important;
	}
}

.c-main-menu__list li li.menu-item-has-children > a:after {
	color: #9a9a9a;
	content: ' ►';
	font-size: 10px;
	margin-left: 10px;
	vertical-align: 1px;
}

@media (max-width: 767px) {
	.c-main-menu__list li li.menu-item-has-children > a:after {
		color: #7b6000 !important;
	}
}

.c-main-menu__list ul.sub-menu {
	display: none;
	padding-left: 0;
	position: absolute;
}

@media (max-width: 767px) {
	.c-main-menu__list ul.sub-menu {
		display: block;
		margin-bottom: 15px;
		position: relative;
	}
}

.c-main-menu__list ul.sub-menu li a {
	background: #ffd748;
	color: #7b6000 !important;
}

@media (max-width: 767px) {
	.c-main-menu__list ul.sub-menu li a {
		background: #ffcc15;
		margin-bottom: 0;
	}
}

.c-main-menu__list ul.sub-menu li a:hover {
	background: #ffcc15;
	color: #7b6000;
}

.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	left: -999em;
	position: absolute;
	top: 100%;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	flex: 1 0 50%;
	text-align: end;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-header {
	padding-top: 46px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header .entry-title {
	color: #71BED2;
	font-family: 'Noticia Text', serif;
	font-size: 48px;
	line-height: 52px;
	margin-right: 210px;
}

@media (max-width: 767px) {
	.entry-header .entry-title {
		margin-right: 0;
	}
}

.page-subtitle {
	margin-bottom: 56px;
}

.page-por-que-educacion .c-header {
	background: transparent;
}

.page-por-que-educacion .page-subtitle {
	margin-bottom: 0;
}

.page-por-que-educacion .c-banner {
	padding-bottom: 160px;
	padding-top: 134px;
}

.page-por-que-educacion .c-banner__image:before {
	background: linear-gradient(transparent, white);
	bottom: 0;
	content: '';
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 0;
}

.page-description > * {
	margin-right: 210px;
}

@media (max-width: 767px) {
	.page-description > * {
		margin-right: 0;
	}
}

.c-donar {
	color: #FFFFFF;
	position: relative;
}

.c-donar__header {
	box-sizing: border-box;
	color: #fff;
	display: flex;
	font-family: 'Noticia Text', serif;
	grid-column-end: 13;
	grid-column-start: 1;
	margin-top: -116px;
	padding-bottom: 70px;
	padding-top: 116px;
	position: relative;
}

.c-donar__header-container {
	margin-top: 32px;
}

.c-donar .entry-header .entry-title {
	color: #FFFFFF;
}

.c-donar__content {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	padding-bottom: 69px;
	padding-top: 69px;
}

@media (max-width: 767px) {
	.c-donar__content {
		grid-template-columns: repeat(4, 1fr);
	}
}

.c-donar__form-wrapper {
	grid-column-start: 1;
	grid-column-end: 8;
}

@media (max-width: 767px) {
	.c-donar__form-wrapper {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-donar__form {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.c-donar__form label, .c-donar__form input {
	display: block;
	margin-bottom: 4px;
	width: 100%;
}

.c-donar__form label {
	padding-left: 16px;
}

.c-donar__form input {
	color: #979797;
	font-weight: 300;
	line-height: 10px;
	margin-bottom: 24px;
}

.c-donar__form-nombre {
	display: inline-block;
}

@media (max-width: 767px) {
	.c-donar__form-nombre {
		width: 100%;
	}
}

.c-donar__form-apellido {
	display: inline-block;
}

@media (max-width: 767px) {
	.c-donar__form-apellido {
		margin-left: 0;
		width: 100%;
	}
}

.c-donar__form-mensaje {
	margin-bottom: 25px;
}

.c-donar__form-warning {
	background: #71BED2;
	border-radius: 8px;
	color: #FFFFFF;
	font-weight: 300;
	margin-bottom: 25px;
	padding: 40px;
}

.c-donar__form-button .o-button__block {
	background: #ffd748;
	color: #000000;
	cursor: pointer;
}

.c-donar__description {
	grid-column-start: 9;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.c-donar__description {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-indicadores .c-article__featured-image {
	display: none;
}

/* Articles
--------------------------------------------- */
.c-article header {
	grid-column-start: 1;
	grid-column-end: 13;
	font-family: 'Noticia Text', serif;
}

@media (max-width: 767px) {
	.c-article header {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

@media (max-width: 767px) {
	.c-article header {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-article__header-content-wrapper {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 767px) {
	.c-article__header-content-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 769px) {
	.c-article__header-content-wrapper {
		padding: var(--space-4xl);
	}
}

.c-article__metadata {
	grid-column-start: 1;
	grid-column-end: 9;
}

@media (max-width: 767px) {
	.c-article__metadata {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-article__featured-image {
	grid-column-start: 9;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.c-article__featured-image {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-article__featured-image-inner {
	background-size: cover;
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.c-article__volanta {
	font-family: 'Mulish', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}

.c-article__volanta svg {
	fill: #FFFFFF;
}

.c-article__heading {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 48px;
	line-height: 52px;
}

@media (max-width: 767px) {
	.c-article__heading {
		font-size: 32px;
		line-height: 34px;
	}
}

.c-article__bajada {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}

.c-article__content {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
}

@media (max-width: 767px) {
	.c-article__content {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 769px) {
	.c-article__content {
		padding: var(--space-4xl);
	}
}

.c-article__content-inner {
	grid-column-start: 1;
	grid-column-end: 10;
}

@media (max-width: 767px) {
	.c-article__content-inner {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-article__content-inner.has-declaracion {
	grid-column-start: 1;
	grid-column-end: 9;
}

@media (max-width: 767px) {
	.c-article__content-inner.has-declaracion {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-article .c-declaracion {
	grid-column-start: 9;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.c-article .c-declaracion {
		grid-column-start: 1;
		grid-column-end: 13;
		margin-bottom: var(--space-2xl);
	}
}

.c-article .c-declaracion a {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}

.c-article .c-informe__cta a {
	background: #ffd748;
	color: #7b6000;
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
}

.single-post .c-article__featured-image {
	grid-column-start: 1;
	grid-column-end: 11;
}

@media (max-width: 767px) {
	.single-post .c-article__featured-image {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-post .c-article__featured-image-inner {
	border-radius: 8px;
	display: block;
	height: auto;
	margin-top: 50px;
	width: 100%;
}

.single-informe .c-article__metadata {
	grid-column-start: 1;
	grid-column-end: 8;
}

@media (max-width: 767px) {
	.single-informe .c-article__metadata {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-informe .c-article__featured-image {
	grid-column-start: 8;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.single-informe .c-article__featured-image {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-informe .c-article__featured-image-inner {
	height: 400px;
	width: 400px;
}

.single-campana .c-header, .single-campana .c-article header {
	background: transparent;
}

.single-campana .c-article__metadata {
	grid-column-start: 1;
	grid-column-end: 8;
}

@media (max-width: 767px) {
	.single-campana .c-article__metadata {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-campana .c-article__metadata .c-article__heading, .single-campana .c-article__metadata .c-article__bajada {
	color: #FFF;
}

.single-campana .destaque {
	grid-column-end: 13;
	grid-column-start: 8;
	text-align: right;
}

.single-campana .destaque .destaque-inner {
	align-content: center;
	background: #FFD748;
	border-radius: 50%;
	color: #222;
	display: flex;
	flex-direction: column;
	height: 296px;
	justify-content: center;
	margin-left: auto;
	text-align: center;
	width: 296px;
}

.single-campana .destaque .numero {
	display: block;
	font-size: 44px;
	font-weight: 700;
	line-height: 44px;
}

.single-campana .destaque .etiqueta {
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 8px;
}

.single-campana .c-article__featured-image {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0;
	z-index: -1;
}

.single-campana .c-article__featured-image:before {
	background: radial-gradient(transparent, #000000);
	content: '';
	height: 100%;
	left: 0;
	opacity: .7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.single-campana .c-article__featured-image-inner {
	background-position: center;
	border-radius: 0px;
	color: #FFF;
	min-height: 620px;
	width: 100%;
}

.single-indicadores .c-article__header-content-wrapper {
	padding: var(--space-m) var(--space-4xl);
}

.single-post .c-article__content {
	padding-top: 0;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* c-video */
.c-video {
	background: transparent;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	position: relative;
}

@media (max-width: 767px) {
	.c-video {
		display: block;
		height: auto;
		margin: 0;
		padding: 0;
	}
}

.c-video__inner {
	position: relative;
	text-align: center;
	z-index: 3;
}

@media (max-width: 767px) {
	.c-video__inner {
		padding: 0;
	}
}

.c-video__embed-container {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.c-video__embed-container iframe,
.c-video__embed-container object,
.c-video__embed-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.wp-video {
	width: 100% !important;
}

@media (max-width: 767px) {
	.wp-video {
		height: 100% !important;
	}
}

@media (max-width: 767px) {
	.mejs-container {
		height: 100% !important;
	}
}

.mejs-controls {
	display: none !important;
	visibility: hidden !important;
}

.c-mapa {
	background: transparent;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	position: relative;
}

@media (max-width: 767px) {
	.c-mapa {
		display: block;
		height: auto;
		margin: 0;
		padding: 0;
	}
}

.c-mapa__inner {
	position: relative;
	text-align: center;
	z-index: 3;
}

@media (max-width: 767px) {
	.c-mapa__inner {
		padding: 0;
	}
}

.c-mapa__heading {
	color: #000;
	font-family: "Noticia Text", serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.c-mapa__embed-container {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.c-mapa__embed-container iframe,
.c-mapa__embed-container object,
.c-mapa__embed-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.c-acciones .page-header {
	justify-content: space-between;
	margin: 0px;
	padding: 0px 0 70px;
	width: 100%;
}

.c-acciones .page-header .heading-inner {
	padding-left: var(--space-4xl);
	padding-right: var(--space-4xl);
}

@media (max-width: 767px) {
	.c-acciones .page-header .heading-inner {
		padding-left: var(--space-m);
		padding-right: var(--space-m);
	}
}

.c-acciones .page-header h1 {
	color: #71BED2;
	font-size: 48px;
	line-height: 52px;
	margin-top: 0px;
	padding-top: 48px;
}

.c-acciones__inner {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: left;
}

@media (max-width: 767px) {
	.c-acciones__inner {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.c-acciones__inner {
		display: flex;
		flex-direction: column;
	}
}

.c-acciones__inner-list {
	border-top: solid 1px #71BED2;
}

.c-acciones__inner-list ul {
	padding-left: 0;
}

.c-acciones__inner-list li a {
	color: #71BED2;
}

.c-acciones__inner.destacada {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
	grid-template-columns: 1fr;
	margin: 30px var(--space-l) 100px;
	text-align: left;
}

@media (max-width: 767px) {
	.c-acciones__inner.destacada {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.c-acciones__inner.destacada {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}

.c-acciones__card.destacada {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: var(--space-4xl);
	padding-right: var(--space-4xl);
}

@media (max-width: 767px) {
	.c-acciones__card.destacada {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}
}

.c-acciones__card.destacada .c-acciones__card-image-wrapper {
	width: 60%;
}

@media (max-width: 767px) {
	.c-acciones__card.destacada .c-acciones__card-image-wrapper {
		order: 1;
		width: 100%;
	}
}

.c-acciones__card.destacada .c-acciones__card-content {
	padding: var(--space-m);
	width: 40%;
}

@media (max-width: 767px) {
	.c-acciones__card.destacada .c-acciones__card-content {
		order: 2;
		padding: var(--space-m) 0;
		width: 100%;
	}
}

.c-acciones__card-image img {
	border-radius: 8px;
	width: 100%;
}

.c-acciones__card-content {
	padding: var(--space-m);
}

.c-acciones__card-date {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.c-acciones__card-title a {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	margin: 0 0 16px;
	text-decoration: none;
}

.c-acciones__card-description {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 15px;
}

.c-acciones__card-description p {
	margin-bottom: 0px;
}

.c-acciones__card-link {
	font-family: 'Mulish', sans-serif;
	background: #FFD748;
	color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	text-transform: uppercase;
}

.c-acciones__search {
	margin: 0 64px;
}

.c-acciones__search-heading {
	color: #71BED2;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 24px;
	margin-top: 0px;
}

.c-acciones__search-subtitle {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 32px;
}

.c-acciones__search-input {
	font-size: 20px;
	font-weight: 300;
	height: 56px;
	line-height: 24px;
	max-width: 80%;
	width: 643px;
}

.c-acciones__search-button {
	border: 0px;
	border: solid 1px #71BED2;
	cursor: pointer;
	height: 56px;
	margin-left: 16px;
	width: 297px;
}

.c-acciones__search-results .c-informes__wrapper {
	border-bottom: solid 1px #AFD9E5;
	margin: 100px 64px;
	padding-bottom: 81px;
	text-align: left;
}

.c-acciones__search-results .c-informes__inner {
	margin: 0;
	margin-bottom: 0px;
	padding-bottom: 81px;
}

.c-acciones__pagination {
	align-items: center;
	display: flex;
	justify-content: center;
}

.c-acciones__pagination .page-numbers {
	align-items: center;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 20px;
	height: 50px;
	justify-content: center;
	line-height: 20px;
	text-decoration: none;
	width: 50px;
}

.c-acciones__pagination .page-numbers.current {
	background: #ffd748;
	font-weight: 700;
}

.c-acciones__pagination .page-numbers.next, .c-acciones__pagination .page-numbers.prev {
	background: #f2f9fb;
	font-weight: 700;
}

.c-banner {
	align-items: center;
	background: #71BED2;
	display: flex;
	min-height: 450px;
	overflow: hidden;
	padding-bottom: 48px;
	padding-top: 48px;
	position: relative;
	width: 100%;
}

.c-banner__container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1136px + 64px);
	padding-left: 32px;
	padding-right: 32px;
	width: 100%;
	z-index: 1;
}

@media (max-width: 767px) {
	.c-banner__container {
		max-width: calc(1136px + 32px);
		padding-left: 16px;
		padding-right: 16px;
	}
}

.c-banner__image {
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.c-banner__image:before {
	background: linear-gradient(210deg, transparent, #000000);
	content: '';
	height: 100%;
	left: 0;
	opacity: .4;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.c-banner__title {
	font-family: 'Noticia Text', serif;
	color: #FFFFFF;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 24px;
	text-align: center;
	text-transform: uppercase;
}

.c-banner__content {
	color: #FFFFFF;
	margin: auto;
	margin-bottom: 32px;
	max-width: 100%;
	text-align: center;
	width: 608px;
}

.c-banner__boton {
	display: flex;
	margin-top: var(--space-3xl);
}

.c-banner__boton a {
	background: #ffd748;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 400px;
}

@media (max-width: 767px) {
	.c-banner__boton a {
		width: auto;
	}
}

.c-banner__interno {
	max-width: 100%;
	padding-bottom: 10px;
	width: 530px;
}

@media (max-width: 767px) {
	.c-banner__interno {
		margin-right: 0;
		padding-bottom: 30px;
	}
}

.c-banner__interno-title {
	font-family: 'Noticia Text', serif;
	font-size: 32px;
	line-height: 43px;
}

.c-banner__interno-title-onda {
	background-image: url("assets/banner-onda.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 100%;
	content: '';
	height: 30px;
}

.c-banner__interno-texto {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	line-height: 28px;
	margin-top: 50px;
}

.c-call-to-action {
	text-align: center;
}

.c-call-to-action__heading {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin: 0 auto 38px;
	text-align: center;
}

.c-call-to-action__content {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 7px;
}

.c-campana__inner {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
	grid-template-columns: repeat(3, 1fr);
	text-align: left;
}

@media (max-width: 767px) {
	.c-campana__inner {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.c-campana__inner {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 0;
		margin-top: 0;
	}
}

.c-campana__card {
	margin-bottom: var(--space-l);
}

@media (max-width: 767px) {
	.c-campana__card {
		margin-bottom: var(--space-2xl);
	}
}

.c-campana__card-image {
	border-radius: 8px;
	height: 225px;
	margin-bottom: 16px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-campana__card-image:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.c-campana__card-image img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

@media (min-width: 769px) {
	.c-campana__card-content {
		padding: var(--space-m);
	}
}

.c-campana__card-date {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.c-campana__card-title {
	margin-bottom: 0;
	margin-top: 0;
}

.c-campana__card-title a {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin: 0 0 16px;
	text-decoration: none;
}

.c-campana__card-description {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 15px;
}

.c-campana__card-description p {
	margin-bottom: 0px;
}

.c-campana__card-link {
	font-family: 'Mulish', sans-serif;
	color: #79C0D4 !important;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-top: 0;
	text-decoration: none;
	text-transform: uppercase;
}

@media (min-width: 769px) {
	.c-campana__search {
		margin: 0 64px;
		padding: 30px 0;
	}
}

.c-campana__search-heading {
	color: #71BED2;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 24px;
	margin-top: 0px;
}

.c-campana__search-subtitle {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 32px;
}

.c-campana__search-input {
	font-size: 20px;
	font-weight: 300;
	height: 56px;
	line-height: 24px;
	max-width: 80%;
	width: 643px;
}

@media (max-width: 767px) {
	.c-campana__search-input {
		margin-bottom: 10px;
		max-width: 100%;
		width: 100%;
	}
}

.c-campana__search-button {
	border: 0px;
	border: solid 1px #71BED2;
	cursor: pointer;
	height: 56px;
	margin-left: 16px;
	width: 297px;
}

@media (max-width: 767px) {
	.c-campana__search-button {
		margin-left: 0;
		max-width: 100%;
		width: 100%;
	}
}

.c-campana__search-results .c-informes__wrapper {
	border-bottom: solid 1px #AFD9E5;
	margin: 100px 0;
	padding-bottom: 81px;
	text-align: left;
}

@media (max-width: 767px) {
	.c-campana__search-results .c-informes__wrapper {
		margin: 30px 0;
	}
}

.c-campana__search-results .c-informes__inner {
	grid-template-columns: repeat(3, 1fr);
	margin: 0;
	margin-bottom: 0px;
	padding-bottom: 81px;
}

@media (max-width: 767px) {
	.c-campana__search-results .c-informes__inner {
		grid-template-columns: repeat(1, 1fr);
	}
}

.c-campana__pagination {
	align-items: center;
	display: flex;
	justify-content: center;
}

.c-campana__pagination .page-numbers {
	align-items: center;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 20px;
	height: 50px;
	justify-content: center;
	line-height: 20px;
	text-decoration: none;
	width: 50px;
}

.c-campana__pagination .page-numbers.current {
	background: #ffd748;
	font-weight: 700;
}

.c-campana__pagination .page-numbers.next, .c-campana__pagination .page-numbers.prev {
	background: #f2f9fb;
	font-weight: 700;
}

.page-template-page-datos .c-header,
.page-template-page-donar .c-header {
	background: transparent;
}

#datos {
	margin-top: 0;
}

.c-datos {
	background: #F2F9FB;
	/* Tabs */
}

.c-datos__header {
	background: #71BED2;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	font-family: 'Noticia Text', serif;
	grid-column-end: 13;
	grid-column-start: 1;
	height: 384px;
	margin-top: -116px;
	padding-top: 116px;
	position: relative;
}

.c-datos__header-container {
	z-index: 2;
}

.c-datos__header-inner {
	margin: 0 44px;
	padding: 30px 0;
}

@media (max-width: 767px) {
	.c-datos__header-inner {
		margin: 0;
	}
}

.c-datos__header-heading {
	color: #FFFFFF;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 24px;
	margin-top: 0px;
}

.c-datos__featured-image {
	background: #71BED2;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: -9px;
	z-index: 0;
}

.c-datos__featured-image:before {
	background: radial-gradient(transparent, #000000);
	box-shadow: 5px -10px 15px -5px rgba(255, 255, 255, 0.1);
	content: '';
	height: 100%;
	left: 0;
	opacity: .7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.c-datos__featured-image-inner {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px;
	color: #FFF;
	height: 100%;
	min-height: 384px;
	width: 100%;
}

.c-datos__featured-image.c-pqe:before {
	opacity: .3;
}

.c-datos__content {
	background: #FFFFFF;
	padding-bottom: 1px;
}

.c-datos__content-inner {
	margin: 0px auto 30px;
	max-width: 100%;
	text-align: center;
	width: 400px;
}

.c-datos__content-heading {
	color: #000000;
	font-size: 32px;
	font-weight: 700;
	margin-top: 0;
	text-transform: uppercase;
}

.c-datos__content-subtitle {
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
}

.c-datos__content-tabs {
	border-bottom: solid 1px #afd9e5;
	width: 100%;
}

.c-datos__content-tabs-heading {
	border-bottom: solid 1px #afd9e5;
}

.c-datos__content-tabs ul#tabs-nav {
	list-style: none;
	margin: auto;
	overflow: auto;
	padding: 0;
}

.c-datos__content-tabs ul#tabs-nav li {
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	float: left;
	font-weight: bold;
	/*border: 1px solid #d5d5de;
      border-bottom: none;*/
	padding: 8px 10px;
	text-align: center;
	width: 50%;
}

.c-datos__content-tabs ul#tabs-nav li:hover,
.c-datos__content-tabs ul#tabs-nav li.active {
	background-color: #71BED2;
}

.c-datos__content-tabs ul#tabs-nav li:hover a,
.c-datos__content-tabs ul#tabs-nav li.active a {
	color: #FFFFFF;
}

.c-datos__content-tabs #tabs-nav li a {
	color: #71BED2;
	text-decoration: none;
}

.c-datos__content-tabs .tab-content {
	background-color: #FFF;
	grid-column-gap: 18px;
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-columns: repeat(5, 1fr);
	text-align: left;
}

@media (max-width: 767px) {
	.c-datos__content-tabs .tab-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

.c-datos__content-tabs .tab-content__column {
	margin: 40px 0;
}

.c-datos__content-tabs .tab-content__column .tab-content__column-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 21px;
}

.c-datos__content-tabs .tab-content__column ul {
	padding-left: 0;
}

.c-datos__content-tabs .tab-content__column ul li {
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	margin-bottom: 22px;
}

.c-datos__content-tabs .tab-content__column ul li a {
	color: #71BED2;
	text-decoration: none;
}

.c-datos__content-prov-list {
	display: block;
	width: 100%;
}

.c-datos__content-prov-list ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding-left: 0px;
}

@media (max-width: 767px) {
	.c-datos__content-prov-list ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

.c-datos__content-prov-list ul li a {
	align-content: center;
	align-items: center;
	background-color: #79c0d4;
	border-radius: 50%;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 172px;
	justify-content: center;
	line-height: 18px;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	width: 172px;
}

.c-datos__content-prov-list-cta-btn {
	margin: 30px auto;
	text-align: center;
}

.c-datos__inner {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: left;
}

@media (max-width: 767px) {
	.c-datos__inner {
		grid-template-columns: repeat(4, 1fr);
	}
}

.c-datos__card {
	margin-bottom: var(--space-l);
}

.c-datos__card-image {
	border-radius: 8px;
	height: 225px;
	margin-bottom: 16px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-datos__card-image:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.c-datos__card-image img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.c-datos__card-content {
	padding: var(--space-m);
}

.c-datos__card-date {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.c-datos__card-title a {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	margin: 0 0 16px;
	text-decoration: none;
}

.c-datos__card-description {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 15px;
}

.c-datos__card-description p {
	margin-bottom: 0px;
}

.c-datos__card-link {
	font-family: 'Mulish', sans-serif;
	color: #79C0D4 !important;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-top: 0;
	text-decoration: none;
	text-transform: uppercase;
}

.c-datos__search {
	margin: 0 64px;
}

.c-datos__search-heading {
	color: #71BED2;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 24px;
	margin-top: 0px;
}

.c-datos__search-subtitle {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 32px;
}

.c-datos__search-input {
	font-size: 20px;
	font-weight: 300;
	height: 56px;
	line-height: 24px;
	max-width: 80%;
	width: 643px;
}

.c-datos__search-button {
	border: 0px;
	border: solid 1px #71BED2;
	cursor: pointer;
	height: 56px;
	margin-left: 16px;
	width: 297px;
}

.c-datos__search-results .c-informes__wrapper {
	border-bottom: solid 1px #AFD9E5;
	margin: 100px 64px;
	padding-bottom: 81px;
	text-align: left;
}

.c-datos__search-results .c-informes__inner {
	margin: 0;
	margin-bottom: 0px;
	padding-bottom: 81px;
}

.c-datos__pagination {
	align-items: center;
	display: flex;
	justify-content: center;
}

.c-datos__pagination .page-numbers {
	align-items: center;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 20px;
	height: 50px;
	justify-content: center;
	line-height: 20px;
	text-decoration: none;
	width: 50px;
}

.c-datos__pagination .page-numbers.current {
	background: #ffd748;
	font-weight: 700;
}

.c-datos__pagination .page-numbers.next, .c-datos__pagination .page-numbers.prev {
	background: #f2f9fb;
	font-weight: 700;
}

.c-donar__header-subtitle {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	line-height: 24px;
}

.c-donar__form {
	font-family: 'Mulish', sans-serif;
	display: grid;
	margin: -10px;
}

.c-donar__form label {
	font-size: 16px;
	padding-left: 16px;
}

.c-donar__form input {
	border: 1px solid #ffd748;
	border-radius: 3px;
	color: #979797;
	font-weight: 300;
	line-height: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.c-donar__form input[type="radio"] {
	display: inline-block;
	width: auto;
}

.c-donar__form ::placeholder {
	color: #979797;
	font-weight: 300;
}

.c-donar__form-nombre {
	grid-column-start: 1;
	grid-column-end: 7;
	padding: 0 10px;
}

@media (max-width: 767px) {
	.c-donar__form-nombre {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-donar__form-apellido {
	grid-column-start: 7;
	grid-column-end: 13;
	padding: 0 10px;
}

@media (max-width: 767px) {
	.c-donar__form-apellido {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-donar__form-email {
	grid-column-start: 1;
	grid-column-end: 13;
	padding: 0 10px;
}

@media (max-width: 767px) {
	.c-donar__form-email {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

@media (max-width: 767px) {
	.c-donar__form-email {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-donar__form-amount {
	border: 0;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	font-size: 0;
	grid-column-end: 13;
	grid-column-start: 1;
}

.c-donar__form-amount input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.c-donar__form-amount label {
	border: 1px solid #ffd748;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
	margin: 1.1%;
	min-width: 31%;
	padding: 10px;
	text-align: center;
	width: auto;
}

.c-donar__form-amount label:last-child {
	flex: 1;
}

.c-donar__form-amount label:hover {
	background-color: #ffd748;
	color: #7b6000;
}

.c-donar__form-amount input[type="submit"]:hover {
	border-color: #7b6000;
}

.c-donar__form-amount input[type="radio"]:checked + label {
	background-color: #ffd748;
	color: #7b6000;
}

.c-donar__form-amount-number {
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 30px;
	padding-bottom: 5px;
}

.c-donar__form-amount-suffix, .c-donar__form-amount-prefix {
	display: inline-block;
	font-size: 12px;
	padding: 3px;
}

.c-donar__form-amount-descripcion {
	display: block;
}

@media (max-width: 767px) {
	.c-donar__form-amount {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-donar__form-button {
	grid-column-start: 1;
	grid-column-end: 13;
	padding: 10px 10px 0;
}

@media (max-width: 767px) {
	.c-donar__form-button {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

.c-donar__form-button input {
	line-height: 30px;
}

@media (max-width: 767px) {
	.c-donar__form-button {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-donar__form-button .c-hero__form-field {
	background-color: #ffd748;
	color: #7b6000;
}

.c-donar__featured-image {
	background: #71BED2;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: -9px;
	z-index: -1;
}

.c-donar__header-grid {
	display: flex;
	margin-top: 50px;
}

.c-donar__header-grid > * {
	margin-right: 2%;
	width: 46%;
}

@media (max-width: 767px) {
	.c-donar__header-grid > * {
		width: 100%;
	}
}

.c-embed__iframe {
	border: 0px;
	border-radius: 8px;
}

.c-embed__inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1232px;
}

.c-embed__iframe-desktop {
	display: block;
}

@media (max-width: 767px) {
	.c-embed__iframe-desktop {
		display: none;
	}
}

.c-embed__iframe-mobile {
	display: block;
}

@media (min-width: 769px) {
	.c-embed__iframe-mobile {
		display: none;
	}
}

.c-features {
	position: relative;
	text-align: left;
}

.c-features__institucional {
	margin-top: 96px;
	padding-bottom: 150px;
}

.c-features__heading {
	text-align: center;
}

.c-features__heading-volanta {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.c-features__heading-title {
	font-family: 'Noticia Text', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 17px;
}

.c-features__heading-description {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin: 0 auto 38px;
	max-width: 400px;
}

.c-features__heading-button {
	font-family: 'Mulish', sans-serif;
	background: #ffd748;
	border-radius: 8px;
	color: #7b6000;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	padding: var(--space-m) 80px;
	text-transform: uppercase;
	background: #71BED2;
	border-radius: 8px;
	color: #FFFFFF;
	text-decoration: none;
}

.c-features__heading-button__icon-wrapper {
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 100%;
	color: #000000;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 24px;
}

.c-features__heading-button:visited {
	color: #FFFFFF;
}

.c-features__heading2 {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin: 0 auto 38px;
	text-align: center;
}

.c-features__item-wrapper {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 767px) {
	.c-features__item-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

.c-features__item {
	padding: var(--space-m);
}

.c-features__item-image {
	align-items: flex-end;
	display: flex;
	height: 190px;
	justify-content: center;
	margin-bottom: 40px;
	width: 100%;
}

.c-features__item-image img {
	height: auto;
	object-fit: cover;
	object-position: bottom;
	width: 190px;
}

.c-features__item-titulo {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.c-features__item-bajada {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 24px;
	margin-bottom: 10px;
}

.c-features__content {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin: auto;
	text-align: left;
}

@media (max-width: 767px) {
	.c-features__content {
		text-align: center;
	}
}

.c-features__content-item-columns-1 {
	margin-top: var(--space-3xl);
}

.c-features__content-item-columns-1 .c-features__content-item-image {
	clear: right;
	float: left;
	width: 30%;
}

@media (max-width: 767px) {
	.c-features__content-item-columns-1 .c-features__content-item-image {
		width: 100%;
	}
}

.c-features__content-item-columns-1 .c-features__content-item-image img {
	max-height: 160px !important;
}

.c-features__content-item-columns-1 .c-features__content-item-heading {
	float: right;
	width: 70%;
}

@media (max-width: 767px) {
	.c-features__content-item-columns-1 .c-features__content-item-heading {
		width: 100%;
	}
}

.c-features__content-item-columns-1 .c-features__content-item-bajada {
	float: right;
	width: 70%;
}

@media (max-width: 767px) {
	.c-features__content-item-columns-1 .c-features__content-item-bajada {
		width: 100%;
	}
}

.c-features__content-item-columns-1 .c-features__content-item-descripcion {
	float: right;
	width: 70%;
}

@media (max-width: 767px) {
	.c-features__content-item-columns-1 .c-features__content-item-descripcion {
		width: 100%;
	}
}

.c-features__content-item-columns-1 .c-features__content-item-btn {
	float: right;
	margin-top: 15px;
	width: 70%;
}

@media (max-width: 767px) {
	.c-features__content-item-columns-1 .c-features__content-item-btn {
		width: 100%;
	}
}

.c-features__content-item-columns-1 .c-features__content-item-btn a:hover {
	color: #3590a8 !important;
}

.c-features__content-item-columns-2 {
	width: calc(50% - 8px);
}

@media (max-width: 767px) {
	.c-features__content-item-columns-2 {
		width: 100%;
	}
}

.c-features__content-item-columns-3 {
	width: calc(33% - 8px);
}

@media (max-width: 767px) {
	.c-features__content-item-columns-3 {
		width: 100%;
	}
}

.c-features__content-item-heading {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 16px;
}

.c-features__content-item-content {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 7px;
}

.c-features__content-item-bajada {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 24px;
	margin-bottom: 10px;
}

.c-features .c-features__content-item-image img {
	max-height: 100px;
	text-align: center;
	width: auto;
}

.page-template-front-page .c-features {
	margin-bottom: 60px;
	padding-top: 60px;
	text-align: center;
}

.page-template-front-page .c-features__content-item {
	text-align: center;
}

.page-template-front-page .c-features__heading-button {
	margin-bottom: 30px;
}

@media (min-width: 769px) {
	.que-hacemos .c-features__content-item-wrapper {
		margin-right: 40px;
	}
}

@media (min-width: 769px) {
	.o-container-extra-narrow .c-features__content-item-wrapper {
		margin-right: 40px;
	}
}

.por-que-educacion .c-features__heading-title {
	color: #000000;
	font-family: 'Noticia Text', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin: 0 auto 100px;
	position: relative;
	text-align: center;
}

.por-que-educacion .c-features__heading-title:after {
	background-image: url("assets/banner-onda.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	bottom: -50px;
	content: '';
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
}

.por-que-educacion .c-features__content-item-wrapper {
	margin-bottom: 50px;
}

.por-que-educacion .c-features__content-item-wrapper .c-features__content-item-image {
	float: left;
}

.por-que-educacion .c-features__content-item-heading {
	color: #000000;
	padding-left: 110px;
}

.por-que-educacion .c-features__content-item-descripcion {
	padding-left: 110px;
}

.por-que-educacion .c-banner__title {
	font-size: 40px;
	line-height: 55px;
	margin: 40px auto;
	max-width: 100%;
	text-align: center;
	width: 608px;
}

.por-que-educacion .c-banner__boton a {
	background: #71BED2;
	color: #FFFFFF;
}

.por-que-educacion .c-quotes-main-title {
	color: #000000;
	font-family: 'Noticia Text', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin: 0 auto 100px;
	max-width: 100%;
	position: relative;
	text-align: center;
	text-align: center;
	width: 608px;
}

.por-que-educacion .c-quotes-main-title:after {
	background-image: url("assets/banner-onda.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	bottom: -50px;
	content: '';
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
}

.por-que-educacion .c-call-to-action__heading {
	color: #333;
}

.por-que-educacion .cta-pqe {
	background-image: url("assets/back-pqe.jpg");
	background-position: 0 100px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 400px;
	position: relative;
}

.por-que-educacion .cta-pqe:before {
	background: linear-gradient(white, transparent);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 97px;
	z-index: 0;
}

.por-que-educacion .cta-pqe .c-text-block__container {
	position: relative;
	z-index: 1;
}

.c-footer__inner {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 767px) {
	.c-footer__inner {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 769px) {
	.c-footer__inner {
		padding: var(--space-4xl);
	}
}

@media (max-width: 767px) {
	.c-footer__inner {
		display: block;
	}
}

.c-footer__heading {
	grid-column-start: 1;
	grid-column-end: 13;
	font-family: 'Noticia Text', serif;
	font-size: 32px;
	font-weight: 700;
}

@media (max-width: 767px) {
	.c-footer__heading {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

@media (max-width: 767px) {
	.c-footer__heading {
		margin-top: 30px;
	}
}

.c-footer__newsletter {
	grid-column-start: 1;
	grid-column-end: 8;
	padding-right: 50px;
}

@media (max-width: 767px) {
	.c-footer__newsletter {
		grid-column-start: 1;
		grid-column-end: 13;
		padding: 0;
	}
}

.c-footer__credits {
	grid-column-start: 8;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.c-footer__credits {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-footer__credits .c-footer__copyright {
	margin-top: 28px;
}

.c-footer__credits .c-footer__social {
	margin-top: 28px;
}

.c-footer__credits .c-footer__social-icon {
	height: 40px;
	margin-right: 27px;
	width: 40px;
}

@media (max-width: 767px) {
	.c-footer__credits .c-footer__social-icon {
		margin-right: 15px;
	}
}

.c-footer__form {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.c-footer__form label, .c-footer__form input {
	display: block;
	margin-bottom: 4px;
	width: 100%;
}

.c-footer__form label {
	padding-left: 16px;
}

.c-footer__form input {
	color: #979797;
	font-weight: 300;
	line-height: 10px;
	margin-bottom: 24px;
}

.c-footer .p-header,
.c-footer .p-close {
	display: none;
}

.c-footer .p-submit {
	background: #71BED2;
	color: #FFFFFF;
	display: block;
	padding: 18px;
	width: 100%;
}

.c-footer .p-body > p {
	font-weight: 400;
}

#content {
	padding-bottom: 116px;
	padding-top: 116px;
}

@media (max-width: 767px) {
	#content {
		padding-bottom: 116px;
		padding-top: 116px;
		top: 116px;
	}
}

.c-header {
	background-color: #FFFFFF;
	border-bottom: 1px solid transparent;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	height: 116px;
	padding-bottom: var(--space-xs);
	padding-top: var(--space-xs);
	position: fixed;
	top: 0px;
	transition: height 0.3s ease;
	width: 100%;
	z-index: 7;
}

@media (max-width: 767px) {
	.c-header {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.c-header.sticky_header {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 2px #00000026;
	height: 86px;
	padding-bottom: var(--space-xs);
	padding-top: var(--space-xs);
}

@media (max-width: 767px) {
	.c-header.sticky_header {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.c-header.with-admin {
	top: 32px;
}

.c-header__inner {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	padding: 0 0 0 16px;
}

@media (min-width: 769px) {
	.c-header__inner {
		justify-content: space-between;
		padding-left: var(--space-4xl);
		padding-right: var(--space-4xl);
	}
}

.c-header__logo {
	height: 66px;
	transition: color .3s;
}

@media (max-width: 767px) {
	.c-header__logo {
		height: 31px;
		margin-right: auto;
	}
}

.c-header__logo-image {
	background: url("./assets/logo-color.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 66px;
	max-width: 290px;
	width: 290px;
}

@media (max-width: 767px) {
	.c-header__logo-image {
		height: 31px;
		max-width: 138px;
		width: 138px;
	}
}

.c-header.sticky_header .c-header__logo-image {
	background: url("./assets/logo-color.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.c-header.sticky_header .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
	color: #979797;
}

.c-header__burger {
	display: none;
}

@media (max-width: 767px) {
	.c-header__burger {
		display: block;
		margin-left: 10px;
		order: 3;
	}
}

.c-header__menu-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

@media (max-width: 767px) {
	.c-header__menu-wrapper {
		display: none;
	}
}

.c-header__donar-button {
	background: #ffd748;
	border: transparent;
	color: #7b6000 !important;
	font-weight: 600;
	padding: var(--space-xs) var(--space-m);
	text-decoration: none;
	text-transform: uppercase;
	z-index: 1;
}

@media (max-width: 767px) {
	.c-header__donar-button {
		order: 2;
	}
}

.c-header__has-background {
	background: transparent;
}

.c-header__has-background .c-header__logo-image {
	background: url("./assets/logo-blanco.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.c-header__has-background .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
	color: #FFFFFF;
}

.single-campana .c-header__logo-image,
.page-template-page-datos .c-header__logo-image,
.page-template-page-donar .c-header__logo-image,
.page-template-page-por-que-educacion .c-header__logo-image {
	background: url("./assets/logo-blanco.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.single-campana .c-article header,
.page-template-page-datos .c-article header,
.page-template-page-donar .c-article header,
.page-template-page-por-que-educacion .c-article header {
	box-sizing: border-box;
	color: #fff;
	display: flex;
	font-family: 'Noticia Text', serif;
	grid-column-end: 13;
	grid-column-start: 1;
	margin-top: -116px;
	min-height: 620px;
	padding-top: 100px;
	position: relative;
}

@media (max-width: 767px) {
	.single-campana .c-article header,
	.page-template-page-datos .c-article header,
	.page-template-page-donar .c-article header,
	.page-template-page-por-que-educacion .c-article header {
		margin-top: -116px;
		padding-top: 116px;
	}
}

.single-campana .c-article__header-content-wrapper,
.page-template-page-datos .c-article__header-content-wrapper,
.page-template-page-donar .c-article__header-content-wrapper,
.page-template-page-por-que-educacion .c-article__header-content-wrapper {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	margin-top: -100px;
	padding-top: 213px;
}

@media (max-width: 767px) {
	.single-campana .c-article__header-content-wrapper,
	.page-template-page-datos .c-article__header-content-wrapper,
	.page-template-page-donar .c-article__header-content-wrapper,
	.page-template-page-por-que-educacion .c-article__header-content-wrapper {
		margin-top: -116px;
		padding-top: 116px;
	}
}

.single-campana .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a,
.page-template-page-datos .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a,
.page-template-page-donar .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a,
.page-template-page-por-que-educacion .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
	color: #FFFFFF;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.hamburglar {
	background: transparent;
	height: 68px;
	margin: 0;
	position: relative;
	-webkit-touch-callout: none;
	transform: scale(0.6);
	user-select: none;
	width: 68px;
	z-index: 2;
}

.path-burger {
	height: 68px;
	left: 0;
	mask: url(#mask);
	-webkit-mask-box-image: url("./assets/mask.svg");
	position: absolute;
	top: 0;
	width: 68px;
}

.animate-path {
	height: 68px;
	left: 0;
	position: absolute;
	top: 0;
	width: 68px;
}

.path-rotation {
	height: 34px;
	margin: 34px 34px 0 0;
	transform: rotate(0deg);
	transform-origin: 100% 0;
	width: 34px;
}

.path-rotation:before {
	background: #222;
	content: '';
	display: block;
	height: 34px;
	margin: 0 4px 0 0;
	width: 30px;
}

@keyframes rotate-out {
	0% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-in {
	0% {
		transform: rotate(360deg);
	}
	40% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.hamburglar.is-open .path {
	animation: dash-in 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-open .animate-path {
	animation: rotate-in 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
	animation: dash-out 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-closed .animate-path {
	animation: rotate-out 0.6s linear normal;
	animation-fill-mode: forwards;
}

.path {
	stroke-dasharray: 240;
	stroke-dashoffset: 240;
	stroke-linejoin: round;
}

@keyframes dash-in {
	0% {
		stroke-dashoffset: 240;
	}
	40% {
		stroke-dashoffset: 240;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash-out {
	0% {
		stroke-dashoffset: 0;
	}
	40% {
		stroke-dashoffset: 240;
	}
	100% {
		stroke-dashoffset: 240;
	}
}

.burger-icon {
	height: 68px;
	padding: 20px 16px;
	position: absolute;
	width: 68px;
}

.burger-container {
	height: 28px;
	position: relative;
	width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
	background: #222;
	border-radius: 2px;
	display: block;
	height: 4px;
	position: absolute;
	width: 36px;
}

.burger-bun-top {
	top: 0;
	transform-origin: 34px 2px;
}

.burger-bun-bot {
	bottom: 0;
	transform-origin: 34px 2px;
}

.burger-filling {
	top: 12px;
}

.burger-ring {
	height: 68px;
	left: 0;
	position: absolute;
	top: 0;
	width: 68px;
}

.svg-ring {
	height: 68px;
	width: 68px;
}

.hamburglar.is-open .burger-bun-top {
	animation: bun-top-out 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
	animation: bun-bot-out 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
	animation: bun-top-in 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
	animation: bun-bot-in 0.6s linear normal;
	animation-fill-mode: forwards;
}

@keyframes bun-top-out {
	0% {
		left: 0;
		top: 0;
		transform: rotate(0deg);
	}
	20% {
		left: 0;
		top: 0;
		transform: rotate(15deg);
	}
	80% {
		left: -5px;
		top: 0;
		transform: rotate(-60deg);
	}
	100% {
		left: -5px;
		top: 1px;
		transform: rotate(-45deg);
	}
}

@keyframes bun-bot-out {
	0% {
		left: 0;
		transform: rotate(0deg);
	}
	20% {
		left: 0;
		transform: rotate(-15deg);
	}
	80% {
		left: -5px;
		transform: rotate(60deg);
	}
	100% {
		left: -5px;
		transform: rotate(45deg);
	}
}

@keyframes bun-top-in {
	0% {
		left: -5px;
		bot: 0;
		transform: rotate(-45deg);
	}
	20% {
		left: -5px;
		bot: 0;
		transform: rotate(-60deg);
	}
	80% {
		left: 0;
		bot: 0;
		transform: rotate(15deg);
	}
	100% {
		left: 0;
		bot: 1px;
		transform: rotate(0deg);
	}
}

@keyframes bun-bot-in {
	0% {
		left: -5px;
		transform: rotate(45deg);
	}
	20% {
		left: -5px;
		bot: 0;
		transform: rotate(60deg);
	}
	80% {
		left: 0;
		bot: 0;
		transform: rotate(-15deg);
	}
	100% {
		left: 0;
		transform: rotate(0deg);
	}
}

.hamburglar.is-open .burger-filling {
	animation: burger-fill-out 0.6s linear normal;
	animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
	animation: burger-fill-in 0.6s linear normal;
	animation-fill-mode: forwards;
}

@keyframes burger-fill-in {
	0% {
		width: 0;
		left: 36px;
	}
	40% {
		width: 0;
		left: 40px;
	}
	80% {
		width: 36px;
		left: -6px;
	}
	100% {
		width: 36px;
		left: 0px;
	}
}

@keyframes burger-fill-out {
	0% {
		width: 36px;
		left: 0px;
	}
	20% {
		width: 42px;
		left: -6px;
	}
	40% {
		width: 0;
		left: 40px;
	}
	100% {
		width: 0;
		left: 36px;
	}
}

@media (max-width: 767px) {
	.js-burger-content {
		background: #ffd748;
		display: none;
	}
	.js-burger-content.is-open {
		bottom: 0;
		display: block;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}
	.js-burger-content .c-main-menu__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100vh;
		justify-content: flex-start;
		margin-left: 0;
		margin-top: 120px;
		padding-left: 27px;
		padding-right: 22px;
	}
	.js-burger-content .c-main-menu__list a {
		color: rgba(0, 0, 0, 0.5);
		font-size: 16px;
		font-weight: 700;
		line-height: 21px;
		margin-bottom: 16px;
	}
}

@media (max-width: 767px) {
	.c-header__has-background .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a,
	.c-header.sticky_header .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
		color: rgba(0, 0, 0, 0.5);
		font-size: 16px;
		font-weight: 700;
		line-height: 21px;
		margin-bottom: 16px;
	}
}

.page-que-hacemos #header,
.page-informes #header,
.tax-acciones #header,
.single-post #header {
	background-color: transparent;
}

.page-que-hacemos #header.sticky_header,
.page-informes #header.sticky_header,
.tax-acciones #header.sticky_header,
.single-post #header.sticky_header {
	background-color: #FFFFFF;
}

.page-que-hacemos:before,
.page-informes:before,
.tax-acciones:before,
.single-post:before {
	background-color: #F2F9FB;
	background-image: url("assets/shape__05.png");
	background-position: bottom;
	background-repeat: no-repeat;
	bottom: auto;
	content: '';
	height: 390px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0;
	width: 100%;
	z-index: -1;
}

.page-informes:before {
	height: 490px;
}

.tax-acciones:before {
	height: 440px;
}

.single-post:before {
	height: 740px;
}

.single-campana .c-article__header-content-wrapper {
	padding-bottom: 200px;
}

@media (max-width: 767px) {
	.single-campana .c-article__header-content-wrapper {
		padding-bottom: 20px;
	}
}

.single-campana #content,
.single-campana .c-informes__search-results .c-informes__inner {
	padding-bottom: 0;
}

.c-hero {
	background: #f2f9fb;
	background-size: cover;
	box-sizing: border-box;
	box-sizing: content-box;
	color: #fff;
	display: flex;
	height: auto;
	margin-top: -116px;
	min-height: 582px;
	overflow: hidden;
	padding-top: 116px;
	position: relative;
}

.c-hero:before {
	background: #000000;
	content: '';
	height: 100%;
	left: 0;
	opacity: .5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}

@media (max-width: 767px) {
	.c-hero {
		display: block;
		height: auto;
		padding-bottom: 70px;
	}
}

.c-hero__wrapper {
	padding: 52px var(--space-4xl) var(--space-4xl) var(--space-4xl);
	padding-bottom: 113px;
	position: relative;
	z-index: 3;
}

@media (max-width: 767px) {
	.c-hero__wrapper {
		padding: 0;
	}
}

.c-hero__image {
	background-size: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.c-hero__inner {
	display: flex;
}

@media (max-width: 767px) {
	.c-hero__inner {
		display: block;
	}
}

.c-hero__heading {
	width: 50%;
}

@media (max-width: 767px) {
	.c-hero__heading {
		width: 100%;
	}
}

.c-hero__form-wrapper {
	border: solid 1px #ffd748;
	padding: 30px;
	width: 50%;
}

@media (max-width: 767px) {
	.c-hero__form-wrapper {
		width: 100%;
	}
}

.c-hero__form-wrapper-title {
	font-family: 'Noticia Text', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 24px;
	text-align: center;
}

.c-hero__heading-title {
	font-family: 'Noticia Text', serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	margin-right: var(--space-4xl);
	margin-top: 0px;
}

@media (max-width: 767px) {
	.c-hero__heading-title {
		font-size: 38px;
		font-weight: 700;
		line-height: 42px;
		margin-right: 0;
	}
}

.c-hero__heading-description {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin-right: var(--space-4xl);
}

@media (max-width: 767px) {
	.c-hero__heading-description {
		margin-right: 0;
	}
}

.c-hero .mejs-container {
	min-height: 582px;
	position: relative;
}

.c-hero .flex-video {
	background-size: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

@media (max-width: 767px) {
	.c-hero .flex-video {
		display: none;
	}
}

.c-hero .flex-video iframe,
.c-hero .flex-video video {
	background: #ccc;
	display: grid;
	height: 70vh;
	margin: 0 auto;
	place-items: center;
	position: relative;
	width: 70vw;
}

.c-hero video.fullscreen {
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

@media (max-width: 767px) {
	.c-hero video.fullscreen {
		display: none;
	}
}

.c-hero video.fullscreen::-webkit-media-controls {
	display: none !important;
}

.c-informes__inner {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
	grid-template-columns: repeat(3, 1fr);
	text-align: left;
}

@media (max-width: 767px) {
	.c-informes__inner {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.c-informes__inner {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 0;
		margin-top: 0;
	}
}

.c-informes__card {
	margin-bottom: var(--space-l);
}

@media (max-width: 767px) {
	.c-informes__card {
		margin-bottom: var(--space-2xl);
	}
}

.c-informes__card-image {
	border-radius: 8px;
	height: 225px;
	margin-bottom: 16px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-informes__card-image:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.c-informes__card-image img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

@media (min-width: 769px) {
	.c-informes__card-content {
		padding: var(--space-m);
	}
}

.c-informes__card-date {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.c-informes__card-title a {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	margin: 0 0 16px;
	text-decoration: none;
}

.c-informes__card-description {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 15px;
}

.c-informes__card-description p {
	margin-bottom: 0px;
}

.c-informes__card-link {
	font-family: 'Mulish', sans-serif;
	color: #79C0D4 !important;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-top: 0;
	text-decoration: none;
	text-transform: uppercase;
}

@media (min-width: 769px) {
	.c-informes__search {
		margin: 0 64px;
		padding: 30px 0;
	}
}

.c-informes__search-heading {
	color: #71BED2;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 24px;
	margin-top: 0px;
}

.c-informes__search-subtitle {
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 32px;
}

.c-informes__search-input {
	font-size: 20px;
	font-weight: 300;
	height: 56px;
	line-height: 24px;
	max-width: 80%;
	width: 643px;
}

@media (max-width: 767px) {
	.c-informes__search-input {
		margin-bottom: 10px;
		max-width: 100%;
		width: 100%;
	}
}

.c-informes__search-button {
	border: 0px;
	border: solid 1px #71BED2;
	cursor: pointer;
	height: 56px;
	margin-left: 16px;
	width: 297px;
}

@media (max-width: 767px) {
	.c-informes__search-button {
		margin-left: 0;
		max-width: 100%;
		width: 100%;
	}
}

.c-informes__search-results .c-informes__wrapper {
	border-bottom: solid 1px #AFD9E5;
	margin: 100px 0;
	padding-bottom: 81px;
	text-align: left;
}

@media (max-width: 767px) {
	.c-informes__search-results .c-informes__wrapper {
		margin: 30px 0;
	}
}

.c-informes__search-results .c-informes__inner {
	grid-template-columns: repeat(3, 1fr);
	margin: 0;
	margin-bottom: 0px;
	padding-bottom: 81px;
}

@media (max-width: 767px) {
	.c-informes__search-results .c-informes__inner {
		grid-template-columns: repeat(1, 1fr);
	}
}

.c-informes__pagination {
	align-items: center;
	display: flex;
	justify-content: center;
}

.c-informes__pagination .page-numbers {
	align-items: center;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 20px;
	height: 50px;
	justify-content: center;
	line-height: 20px;
	text-decoration: none;
	width: 50px;
}

.c-informes__pagination .page-numbers.current {
	background: #ffd748;
	font-weight: 700;
}

.c-informes__pagination .page-numbers.next, .c-informes__pagination .page-numbers.prev {
	background: #f2f9fb;
	font-weight: 700;
}

.c-quotes {
	background: #F2F9FB;
	background-image: url("assets/shape__02.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	margin-top: -70px;
	padding-bottom: 150px;
	padding-top: 150px;
	position: relative;
	z-index: -1;
}

@media (max-width: 767px) {
	.c-quotes {
		padding-bottom: 30px;
		padding-top: 0;
	}
}

.c-quotes__heading {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 48px;
	font-weight: 700;
	line-height: 65px;
	margin-bottom: 70px;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.c-quotes__heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 52px;
		margin-bottom: 15px;
		margin-top: 0;
		padding-top: 30px;
		text-transform: none;
	}
}

.c-quotes__item {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 767px) {
	.c-quotes__item {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.c-quotes__item {
		display: block;
	}
}

.c-quotes__item-content {
	grid-column-start: 1;
	grid-column-end: 8;
	margin-left: auto;
	max-width: 492px;
}

@media (max-width: 767px) {
	.c-quotes__item-content {
		grid-column-start: 1;
		grid-column-end: 13;
		margin: auto;
		max-width: 492px;
		width: 100%;
	}
}

.c-quotes__item-content {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
}

@media (max-width: 767px) {
	.c-quotes__item-content {
		font-size: 20px;
		font-size: 20px;
		text-align: center;
	}
}

.c-quotes__item-metadata {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.c-quotes__item-image-wrapper {
	grid-column-start: 9;
	grid-column-end: 13;
	margin-right: auto;
	max-width: 240px;
}

@media (max-width: 767px) {
	.c-quotes__item-image-wrapper {
		grid-column-start: 1;
		grid-column-end: 13;
		margin: auto;
		max-width: 492px;
		width: 100%;
	}
}

.c-quotes__item-image {
	background-size: cover;
	border-radius: 50%;
	height: 240px;
	width: 240px;
}

@media (max-width: 767px) {
	.c-quotes__item-image {
		margin: 30px auto 0;
	}
}

.c-quotes__cta-wraper {
	display: block;
	text-align: center;
}

.c-quotes__cta-wraper__btn {
	background: #FFFFFF;
	border-radius: 8px;
	color: #71BED2;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	padding: var(--space-m) 115px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.c-quotes__cta-wraper__btn {
		padding: var(--space-m);
	}
}

@media (max-width: 767px) {
	.slick-dotted.slick-slider .slick-list {
		padding-bottom: 0px;
	}
}

@media (max-width: 767px) {
	.slick-dotted.slick-slider {
		margin-bottom: 30px;
		padding-bottom: 70px;
	}
}

.c-referentes {
	margin: 0 auto;
	max-width: 100%;
	padding: var(--space-2xl) 0;
	width: calc(932px + (32px * 2));
}

.c-referentes__container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1136px + 64px);
	padding-left: 32px;
	padding-right: 32px;
	width: 100%;
}

@media (max-width: 767px) {
	.c-referentes__container {
		max-width: calc(1136px + 32px);
		padding-left: 16px;
		padding-right: 16px;
	}
}

.c-referentes__title {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 44px;
	text-align: center;
	text-transform: uppercase;
}

.c-referentes__descripcion {
	font-family: 'Mulish', sans-serif;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 44px;
	text-align: center;
}

.c-referentes__content {
	column-count: 3;
	column-gap: 16px;
	margin-bottom: 44px;
}

@media (max-width: 767px) {
	.c-referentes__content {
		column-count: 1;
		text-align: center;
	}
}

.c-referentes__boton {
	display: flex;
}

.c-referentes__boton a {
	background: #ffd748;
	color: #222;
	display: inline-block;
	display: inline-block;
	text-decoration: none;
	width: auto;
}

.c-shape {
	width: 100%;
}

.c-shape__01 {
	bottom: -2px;
	left: 0px;
	position: absolute;
	right: 0px;
	z-index: 2;
}

@media (max-width: 767px) {
	.c-shape__01 {
		height: 44px;
		z-index: 2;
	}
}

.c-shape__03 {
	bottom: -10px;
	left: 0;
	position: absolute;
	right: 0;
	top: auto;
}

.c-shape__04 {
	background-image: url("assets/shape__04.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 130%;
	bottom: -180px;
	content: '';
	left: 0px;
	position: absolute;
	right: 0px;
	top: -650px;
	z-index: -1;
}

.c-shape__datos {
	bottom: -9px;
	left: 0;
	position: absolute;
	right: 0;
	top: auto;
}

.c-shape__05 {
	bottom: 0px;
	left: 0;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	transform: rotate(180deg);
	width: 100%;
	z-index: 4;
}

.c-shape__05 svg {
	display: block;
	height: 150px;
	position: relative;
	width: calc(151% + 1.3px);
}

@media (max-width: 767px) {
	.c-shape__05 svg {
		height: 50px;
	}
}

.c-shape__05 .shape-fill {
	fill: #FFFFFF;
}

.c-staff {
	margin-bottom: 60px;
	text-align: center;
}

.c-staff__inner {
	text-align: center;
}

.c-staff__heading {
	font-family: 'Noticia Text', serif;
	color: #000000;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.c-staff__list {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	gap: 16px;
	grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 767px) {
	.c-staff__list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.c-staff__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

.c-staff.c-staff-consejo-asesor {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.c-staff.c-staff-consejo-asesor {
		width: 100%;
	}
}

.c-staff.c-staff-consejo-asesor .c-staff__list {
	gap: 16px;
	grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 767px) {
	.c-staff.c-staff-consejo-asesor .c-staff__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

.c-staff.c-staff-consejo-asesor .c-staff__card-title {
	text-align: center;
}

.c-staff.c-staff-equipo {
	margin-bottom: 80px;
}

.c-staff.c-staff-equipo .c-staff__list {
	gap: 16px;
	grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 767px) {
	.c-staff.c-staff-equipo .c-staff__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

.c-staff.c-staff-equipo .c-staff__list .c-staff__card-image img {
	height: 176px;
	width: 176px;
}

.c-staff__card-image {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.c-staff__card-image img {
	border-radius: 50%;
	height: 176px;
	object-fit: cover;
	width: 176px;
}

.c-staff__card-title {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 8px;
	text-align: left;
}

.c-staff__card-title a {
	text-decoration: none;
}

.c-staff__card-description {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	text-align: left;
}

.c-staff__item-wrapper {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 767px) {
	.c-staff__item-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

.c-staff__item {
	padding: var(--space-m);
}

.c-staff__item-image {
	align-items: flex-end;
	display: flex;
	height: 190px;
	justify-content: center;
	margin-bottom: 40px;
	width: 100%;
}

.c-staff__item-image img {
	height: auto;
	object-fit: cover;
	object-position: bottom;
	width: 190px;
}

.c-staff__item-titulo {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	margin-bottom: 10px;
}

.c-staff__item-bajada {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}

.c-staff__content {
	display: flex;
	gap: 16px;
	text-align: left;
}

.c-staff__content-item-heading {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 7px;
}

.c-staff__content-item-content {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 7px;
}

.c-statement header {
	grid-column-start: 1;
	grid-column-end: 13;
	font-family: 'Noticia Text', serif;
	background: #F2F9FB;
}

@media (max-width: 767px) {
	.c-statement header {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

.c-statement__header-content-wrapper {
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 767px) {
	.c-statement__header-content-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 769px) {
	.c-statement__header-content-wrapper {
		padding: 0 var(--space-4xl);
	}
}

.c-statement__metadata {
	grid-column-start: 1;
	grid-column-end: 9;
}

@media (max-width: 767px) {
	.c-statement__metadata {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-statement__featured-image {
	grid-column-start: 9;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.c-statement__featured-image {
		grid-column-start: 1;
		grid-column-end: 13;
		margin: 30px 0;
		text-align: center;
	}
}

.c-statement__featured-image-inner {
	background-size: cover;
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.c-statement__volanta {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}

.c-statement__heading {
	font-family: 'Noticia Text', serif;
	color: #71BED2;
	font-size: 32px;
	line-height: 43px;
}

.c-statement__bajada {
	font-family: 'Mulish', sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
}

.c-statement__content {
	padding: var(--space-4xl);
	display: grid;
	grid-column-gap: 32px;
	grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 767px) {
	.c-statement__content {
		grid-template-columns: repeat(4, 1fr);
	}
}

.c-statement__content-inner {
	grid-column-start: 1;
	grid-column-end: 10;
}

@media (max-width: 767px) {
	.c-statement__content-inner {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-statement__content-inner.has-declaracion {
	grid-column-start: 1;
	grid-column-end: 9;
}

@media (max-width: 767px) {
	.c-statement__content-inner.has-declaracion {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-statement .c-declaracion {
	grid-column-start: 9;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.c-statement .c-declaracion {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.c-statement .c-declaracion a {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}

.c-statement .c-informe__cta a {
	background: #FFD748;
	color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
}

.single-post .c-article__featured-image {
	grid-column-start: 1;
	grid-column-end: 11;
}

@media (max-width: 767px) {
	.single-post .c-article__featured-image {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-post .c-article__featured-image-inner {
	border-radius: 8px;
	display: block;
	height: auto;
	margin-top: 50px;
	width: 100%;
}

.single-informe .c-article__metadata {
	grid-column-start: 1;
	grid-column-end: 8;
}

@media (max-width: 767px) {
	.single-informe .c-article__metadata {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-informe .c-article__featured-image {
	grid-column-start: 8;
	grid-column-end: 13;
}

@media (max-width: 767px) {
	.single-informe .c-article__featured-image {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-informe .c-article__featured-image-inner {
	height: 400px;
	width: 400px;
}

@media (max-width: 767px) {
	.single-informe .c-article__featured-image-inner {
		height: 280px;
		margin: 30px auto;
		width: 280px;
	}
}

.single-campana .c-article__metadata {
	grid-column-start: 1;
	grid-column-end: 8;
}

@media (max-width: 767px) {
	.single-campana .c-article__metadata {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}

.single-campana .c-article__metadata .c-article__heading, .single-campana .c-article__metadata .c-article__bajada {
	color: #FFF;
}

.single-campana .destaque {
	grid-column-end: 13;
	grid-column-start: 8;
	text-align: right;
}

@media (max-width: 767px) {
	.single-campana .destaque {
		grid-column-end: 13;
		grid-column-start: 1;
		z-index: 2;
	}
}

.single-campana .destaque .destaque-inner {
	align-content: center;
	background: #ffd748;
	border-radius: 50%;
	color: #7b6000;
	display: flex;
	flex-direction: column;
	height: 296px;
	justify-content: center;
	margin-left: auto;
	text-align: center;
	width: 296px;
}

@media (max-width: 767px) {
	.single-campana .destaque .destaque-inner {
		height: 160px;
		margin-right: auto;
		width: 160px;
	}
}

.single-campana .destaque .numero {
	display: block;
	font-size: 44px;
	font-weight: 700;
	line-height: 44px;
}

@media (max-width: 767px) {
	.single-campana .destaque .numero {
		font-size: 30px;
		line-height: 32px;
		text-align: center;
	}
}

.single-campana .destaque .etiqueta {
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 8px;
}

.single-campana .c-article__featured-image {
	background: #71BED2;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0;
	z-index: -1;
}

.single-campana .c-article__featured-image:before {
	background: radial-gradient(transparent, #000000);
	content: '';
	height: 100%;
	left: 0;
	opacity: .7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.single-campana .c-article__featured-image-inner {
	background-position: center;
	border-radius: 0px;
	color: #FFF;
	height: 100%;
	min-height: 620px;
	width: 100%;
}

.page-por-que-educacion .c-statement {
	background-color: #F2F9FB;
	padding-bottom: 125px;
	padding-top: 100px;
	position: relative;
}

.page-por-que-educacion .c-statement:before {
	background-color: #FFFFFF;
	background-image: url("assets/shape__06a.png");
	background-repeat: no-repeat;
	content: '';
	height: 100px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.page-por-que-educacion .c-statement:after {
	background-color: #FFFFFF;
	background-image: url("assets/shape__06b.png");
	background-repeat: no-repeat;
	bottom: 0;
	content: '';
	height: 125px;
	left: 0;
	position: absolute;
	right: 0;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Slick
--------------------------------------------- */
/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Slider */
.slick-loading .slick-list {
	background: #fff url("./sass/plugins/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
	font-family: "slick";
	src: url("./sass/plugins/slick/fonts/slick.eot");
	src: url("./sass/plugins/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("./sass/plugins/slick/fonts/slick.woff") format("woff"), url("./sass/plugins/slick/fonts/slick.ttf") format("truetype"), url("./sass/plugins/slick/fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
	background: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0px;
	height: 20px;
	line-height: 0px;
	outline: none;
	padding: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 20px;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	background: transparent;
	color: transparent;
	outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
	color: white;
	font-family: "slick";
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	opacity: 0.75;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

@media (max-width: 767px) {
	.slick-prev {
		left: 25px;
	}
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}

.slick-prev:before {
	content: "←";
}

[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: -25px;
}

@media (max-width: 767px) {
	.slick-next {
		left: 25px;
	}
}

[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}

.slick-next:before {
	content: "→";
}

[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
	padding-bottom: 110px;
}

.slick-dotted.slick-slider .slick-list {
	padding-bottom: 10px;
}

.slick-dots {
	display: block;
	list-style: none;
	margin: 0;
	margin-top: 40px;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.slick-dots li {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	position: relative;
	width: 20px;
}

.slick-dots li button {
	background: transparent;
	border: 0;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0px;
	height: 20px;
	line-height: 0px;
	outline: none;
	padding: 5px;
	width: 20px;
}

.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	color: #8d8d8d;
	content: "•";
	font-family: "slick";
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	height: 20px;
	left: 0;
	line-height: 20px;
	opacity: 0.25;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	text-align: center;
	top: 0;
	width: 20px;
}

.slick-dots li.slick-active button:before {
	color: #FFD748;
	opacity: 0.75;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*# sourceMappingURL=style.css.map */