$black: #000000;
$white: #FFFFFF;
$axe_blue: #71BED2;
$axe_light: #F2F9FB;
$axe_lightest: #AFD9E5;
$axe_blueish: #79C0D4;
$axe_yellow: #ffd748;
$gray: #979797;
$lavanda: #F2F9FB;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $axe_blue;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: darken($axe_yellow, 40%);
$color__border-button-hover: darken($axe_yellow, 40%);
$color__border-button-focus: darken($axe_yellow, 40%);
$color__border-input: $axe_lightest;
$color__border-abbr: #666;

