button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $axe_yellow;
  border: 0;
  border-color: $color__border-button;
  border-radius: 8px;
  color: darken($axe_yellow, 40%);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: var(--space-xxs) var(--space-l);
  text-transform: uppercase;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}


@mixin o-button {
  @include sans;
  background: $axe_yellow;
  border-radius: 8px;
  color: darken($axe_yellow, 40%);
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: var(--space-m) 80px;
  text-transform: uppercase;

  &__icon-wrapper {
    align-items: center;
    background-color: $white;
    border-radius: 100%;
    color: $black;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;
  }
}

.o-button {
  @include o-button;
}


.o-button {
  &__block {
    background: $axe_yellow;
    display: block;
    padding: 18px;
    width: 100%;
  }
}

.o-button-yellow {
  background: $axe_yellow;
  color: darken($axe_yellow, 40%);
}