.o-container {
  @include o-container;
}

.o-container-narrow {
  @include media('>tablet') {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
}

.o-section {
  margin: var(--space-4xl) auto;
  @include media('<tablet') {
    margin: var(--space-l) auto;
  }
}

.black {
  color: $black !important;
}

.o-container-extra-narrow {
  max-width: 880px;

  @include media('<tablet') {
    max-width: 100%;
  }
}