hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.line {
  @include o-container;
  border-bottom: solid 1px rgba(175, 217, 229, 1);
  margin: 48px auto 0;
}