a {
  color: currentColor;

  &:visited {
    color: currentColor;
  }

  &:hover,
  &:focus,
  &:active {
    color: currentColor;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
