.c-article {

  &__inner {
  }

  header {
    @include full-width-grid;
    @include serif;
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }

  &__header-content-wrapper {
    @include grid;
    @include media('>tablet') {
      padding: var(--space-4xl);
    }
  }

  &__metadata {
    @include grid-columns(1, 9);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }

  &__featured-image {
    @include grid-columns(9, 13);

    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &-inner {
      background-size: cover;
      border-radius: 50%;
      height: 300px;
      width: 300px;
    }

  }

  &__volanta {
    @include sans;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

    svg {
      fill: $white;
    }
  }

  &__heading {
    @include serif;
    color: $axe_blue;
    font-size: 48px;
    line-height: 52px;
    @include media('<tablet') {
      font-size: 32px;
      line-height: 34px;
    }
  }

  &__bajada {
    @include sans;
    color: $black;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }

  &__content {
    @include grid;
    position: relative;
    @include media('>tablet') {
      padding: var(--space-4xl);
    }
  }

  &__content-inner {
    @include grid-columns(1, 10);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &.has-declaracion {
      @include grid-columns(1, 9);
      @include media('<tablet') {
        @include grid-columns(1, 13);
      }

    }
  }

  .c-declaracion {
    @include grid-columns(9, 13);

    @include media('<tablet') {
      @include grid-columns(1, 13);
      margin-bottom: var(--space-2xl);
    }

    a {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      text-decoration: none;
    }
  }

  .c-informe__cta a {
    background: $axe_yellow;
    color: darken($axe_yellow, 40%);
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
  }
}

.single-post {
  .c-article__featured-image {
    @include grid-columns(1, 11);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &-inner {
      border-radius: 8px;
      display: block;
      height: auto;
      margin-top: 50px;
      width: 100%;
    }
  }
}

.single-informe {
  .c-article__metadata {
    @include grid-columns(1, 8);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }

  .c-article__featured-image {
    @include grid-columns(8, 13);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &-inner {
      height: 400px;
      width: 400px;
    }
  }
}

.single-campana {
  .c-header, .c-article header {
    background: transparent;
  }

  .c-article__metadata {
    @include grid-columns(1, 8);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    .c-article__heading, .c-article__bajada {
      color: #FFF;
    }
  }

  .destaque {
    grid-column-end: 13;
    grid-column-start: 8;
    text-align: right;

    .destaque-inner {
      align-content: center;
      background: #FFD748;
      border-radius: 50%;
      color: #222;
      display: flex;
      flex-direction: column;
      height: 296px;
      justify-content: center;
      margin-left: auto;
      text-align: center;
      width: 296px;
    }

    .numero {
      display: block;
      font-size: 44px;
      font-weight: 700;
      line-height: 44px;
    }

    .etiqueta {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 8px;
    }
  }

  .c-article__featured-image {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: -1;

    &:before {
      background: radial-gradient(transparent, #000000);
      content: '';
      height: 100%;
      left: 0;
      opacity: .7;
      position: absolute;

      top: 0;
      width: 100%;
      z-index: 0;
    }

    &-inner {
      background-position: center;
      border-radius: 0px;
      color: #FFF;
      min-height: 620px;
      width: 100%;
    }
  }
}

.single-indicadores .c-article__header-content-wrapper {
  padding: var(--space-m) var(--space-4xl);;
}

.single-post .c-article__content {
  padding-top: 0;
}