.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-header {
  padding-top: 46px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-header .entry-title {
  color: $axe_blue;
  font-family: 'Noticia Text', serif;
  font-size: 48px;
  line-height: 52px;
  margin-right: 210px;
  @include media('<tablet') {
    margin-right: 0;
  }
}

.page-subtitle {
  margin-bottom: 56px;
}

.page-por-que-educacion {
  .c-header {
    background: transparent;
  }

  .page-subtitle {
    margin-bottom: 0;
  }

  .c-banner {
    padding-bottom: 160px;
    padding-top: 134px;
  }

  .c-banner__image {

    &:before {
      background: linear-gradient(transparent, white);
      bottom: 0;
      content: '';
      left: 0;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0px;
      z-index: 0;
    }
  }
}

.page-description > * {
  margin-right: 210px;

  @include media('<tablet') {
    margin-right: 0;
  }
}

.c-donar {
  color: $white;
  position: relative;

  &__header {
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: 'Noticia Text', serif;
    grid-column-end: 13;
    grid-column-start: 1;
    margin-top: -116px;
    padding-bottom: 70px;
    padding-top: 116px;
    position: relative;
  }

  &__header-container {
    margin-top: 32px;
  }

  .entry-header .entry-title {
    color: $white;
  }

  &__content {
    @include grid();
    padding-bottom: 69px;
    padding-top: 69px;
  }

  &__form-wrapper {
    @include grid-columns(1, 8);

    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }

  &__form {
    @include sans;
    font-size: 20px;
    font-weight: 600;

    label, input {
      display: block;
      margin-bottom: 4px;
      width: 100%;
    }

    label {
      padding-left: 16px;
    }

    input {
      color: $gray;
      font-weight: 300;
      line-height: 10px;
      margin-bottom: 24px;
    }

    &-nombre {
      display: inline-block;
      @include media('<tablet') {
        width: 100%;
      }
    }

    &-apellido {
      display: inline-block;
      @include media('<tablet') {
        margin-left: 0;
        width: 100%;
      }
    }

    &-mensaje {
      margin-bottom: 25px;
    }

    &-warning {
      background: $axe_blue;
      border-radius: 8px;
      color: $white;
      font-weight: 300;
      margin-bottom: 25px;
      padding: 40px;
    }

    &-button .o-button__block {
      background: $axe_yellow;
      color: $black;
      cursor: pointer;
    }
  }

  &__description {
    @include grid-columns(9, 13);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }
}

.single-indicadores .c-article__featured-image {
  display: none;
}