.c-acciones {

  .page-header {
    justify-content: space-between;
    margin: 0px;
    padding: 0px 0 70px;
    width: 100%;

    .heading-inner {
      padding-left: var(--space-4xl);
      padding-right: var(--space-4xl);

      @include media('<tablet') {
        padding-left: var(--space-m);
        padding-right: var(--space-m);
      }
    }

    h1 {
      color: $axe_blue;
      font-size: 48px;
      line-height: 52px;
      margin-top: 0px;
      padding-top: 48px;
    }
  }

  &__inner {
    @include grid;
    grid-column-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    @include media('<tablet') {
      display: flex;
      flex-direction: column;
    }
  }

  &__inner-list {
    border-top: solid 1px $axe_blue;

    ul {
      padding-left: 0;
    }

    li a {
      color: $axe_blue;
    }
  }

  &__inner.destacada {
    @include grid;
    grid-column-gap: 18px;
    grid-template-columns: 1fr;
    margin: 30px var(--space-l) 100px;
    text-align: left;

    @include media('<tablet') {
      display: block;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__card {
    &.destacada {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: var(--space-4xl);
      padding-right: var(--space-4xl);

      @include media('<tablet') {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
      }

      .c-acciones__card-image-wrapper {
        width: 60%;
        @include media('<tablet') {
          order: 1;
          width: 100%;
        }
      }

      .c-acciones__card-content {
        padding: var(--space-m);
        width: 40%;
        @include media('<tablet') {
          order: 2;
          padding: var(--space-m) 0;
          width: 100%;
        }
      }

    }

    &-image {
      img {
        border-radius: 8px;
        width: 100%;
      }
    }

    &-content {
      padding: var(--space-m);
    }

    &-date {
      @include sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &-title a {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin: 0 0 16px;
      text-decoration: none;
    }

    &-description {
      @include sans;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 15px;

      p {
        margin-bottom: 0px;
      }
    }

    &-link {
      @include sans;
      background: #FFD748;
      color: rgba(0, 0, 0, 0.5);
      font-size: 20px;
      line-height: 20px;
      margin-top: 20px;
      text-align: center;
      text-decoration: none;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__search {
    margin: 0 64px;
  }

  &__search-heading {
    color: $axe_blue;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  &__search-subtitle {
    @include sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
  }

  &__search-input {
    font-size: 20px;
    font-weight: 300;
    height: 56px;
    line-height: 24px;
    max-width: 80%;
    width: 643px;
  }

  &__search-button {
    border: 0px;
    border: solid 1px $axe_blue;
    cursor: pointer;
    height: 56px;
    margin-left: 16px;
    width: 297px;
  }

  &__search-results {

    .c-informes__wrapper {
      border-bottom: solid 1px #AFD9E5;
      margin: 100px 64px;
      padding-bottom: 81px;
      text-align: left;
    }

    .c-informes__inner {
      margin: 0;
      margin-bottom: 0px;
      padding-bottom: 81px;
    }
  }

  &__pagination {
    align-items: center;
    display: flex;
    justify-content: center;

    .page-numbers {
      align-items: center;
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 20px;
      height: 50px;
      justify-content: center;
      line-height: 20px;
      text-decoration: none;
      width: 50px;

      &.current {
        background: rgba(255, 215, 72, 1);
        font-weight: 700;
      }

      &.next, &.prev {
        background: rgba(242, 249, 251, 1);
        font-weight: 700;
      }
    }
  }
}