.c-banner {
  align-items: center;
  background: $axe_blue;
  display: flex;
  min-height: 450px;
  overflow: hidden;
  padding-bottom: 48px;
  padding-top: 48px;
  position: relative;
  width: 100%;

  &__container {
    @include o-container;
    z-index: 1;
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    &:before {
      background: linear-gradient(210deg, transparent, #000000);
      content: '';
      height: 100%;
      left: 0;
      opacity: .4;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &__title {
    @include serif;
    color: $white;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
  }


  &__content {
    color: $white;
    margin: auto;
    margin-bottom: 32px;
    max-width: 100%;
    text-align: center;
    width: 608px;
  }


  &__boton {
    display: flex;
    margin-top: var(--space-3xl);

    a {
      background: $axe_yellow;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      width: 400px;
      @include media('<tablet') {
        width: auto;
      }
    }
  }

  &__interno {
    max-width: 100%;
    padding-bottom: 10px;
    width: 530px;

    @include media('<tablet') {
      margin-right: 0;
      padding-bottom: 30px;
    }

    &-title {
      @include serif;
      font-size: 32px;
      line-height: 43px;

      &-onda {
        background-image: url('assets/banner-onda.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        height: 30px;
      }
    }

    &-texto {
      @include sans;
      color: $black;
      font-size: 20px;
      line-height: 28px;
      margin-top: 50px;
    }
  }
}