.c-call-to-action {
  text-align: center;

  &__heading {
    @include serif;
    color: $axe_blue;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin: 0 auto 38px;
    text-align: center;
  }

  &__content {
    @include sans;
    color: $black;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 7px;
  }
}