.page-template-page-datos,
.page-template-page-donar {
  .c-header {
    background: transparent;
  }
}

#datos {
  margin-top: 0;
}

.c-datos {
  background: $axe_light;

  &__header {
    background: $axe_blue;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: 'Noticia Text', serif;
    grid-column-end: 13;
    grid-column-start: 1;
    height: 384px;
    margin-top: -116px;
    padding-top: 116px;
    position: relative;
  }

  &__header-container {
    z-index: 2;
  }

  &__header-inner {
    margin: 0 44px;
    padding: 30px 0;
    @include media('<tablet') {
      margin: 0;
    }
  }

  &__header-heading {
    color: $white;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  &__header-subtitle {
  }

  &__featured-image {
    background: $axe_blue;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: -9px;
    z-index: 0;

    &:before {
      background: radial-gradient(transparent, #000000);
      box-shadow: 5px -10px 15px -5px rgba(255, 255, 255, 0.1);
      content: '';
      height: 100%;
      left: 0;
      opacity: .7;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &-inner {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0px;
      color: #FFF;
      height: 100%;
      min-height: 384px;
      width: 100%;
    }

    &.c-pqe {
      &:before {
        opacity: .3;
      }
    }
  }

  &__content {
    background: $white;
    padding-bottom: 1px;
  }

  &__content-container {
  }

  &__content-inner {
    margin: 0px auto 30px;
    max-width: 100%;
    text-align: center;
    width: 400px;
  }

  &__content-heading {
    color: $black;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
  }

  &__content-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
  }

  /* Tabs */
  &__content-tabs {
    border-bottom: solid 1px rgba(175, 217, 229, 1);
    width: 100%;

    &-heading {
      border-bottom: solid 1px rgba(175, 217, 229, 1);
    }

    ul#tabs-nav {
      list-style: none;
      margin: auto;
      overflow: auto;
      padding: 0;
    }

    ul#tabs-nav li {
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      float: left;
      font-weight: bold;
      /*border: 1px solid #d5d5de;
      border-bottom: none;*/
      padding: 8px 10px;
      text-align: center;
      width: 50%;
    }

    ul#tabs-nav li:hover,
    ul#tabs-nav li.active {
      background-color: $axe_blue;
    }

    ul#tabs-nav li:hover a,
    ul#tabs-nav li.active a {
      color: $white;
    }

    #tabs-nav li a {
      color: $axe_blue;
      text-decoration: none;
    }

    .tab-content {
      background-color: #FFF;
      grid-column-gap: 18px;
      @include grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: left;
    }

    .tab-content__column {

      margin: 40px 0;

      .tab-content__column-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
      }

      ul {
        padding-left: 0;

        li {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          margin-bottom: 22px;

          a {
            color: $axe_blue;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__content-prov-list {
    display: block;
    width: 100%;

    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-left: 0px;
      @include media('<tablet') {
        grid-template-columns: repeat(2, 1fr);
      }

      li {
        a {
          align-content: center;
          align-items: center;
          background-color: rgba(121, 192, 212, 1);
          border-radius: 50%;
          color: $white;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 172px;
          justify-content: center;
          line-height: 18px;
          margin: 10px auto;
          text-align: center;
          text-decoration: none;
          width: 172px;
        }
      }
    }

    &-cta-btn {
      margin: 30px auto;
      text-align: center;
    }
  }

  &__inner {
    @include grid;
    grid-column-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }

  &__card {
    margin-bottom: var(--space-l);

    &-image {
      border-radius: 8px;
      height: 225px;
      margin-bottom: 16px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:after {
        content: '';
        display: block;
        padding-top: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-content {
      padding: var(--space-m);
    }

    &-date {
      @include sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &-title a {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin: 0 0 16px;
      text-decoration: none;
    }

    &-description {
      @include sans;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 15px;

      p {
        margin-bottom: 0px;
      }
    }

    &-link {
      @include sans;
      color: $axe_blueish !important;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-top: 0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__search {
    margin: 0 64px;
  }

  &__search-heading {
    color: $axe_blue;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  &__search-subtitle {
    @include sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
  }

  &__search-input {
    font-size: 20px;
    font-weight: 300;
    height: 56px;
    line-height: 24px;
    max-width: 80%;
    width: 643px;
  }

  &__search-button {
    border: 0px;
    border: solid 1px $axe_blue;
    cursor: pointer;
    height: 56px;
    margin-left: 16px;
    width: 297px;
  }

  &__search-results {

    .c-informes__wrapper {
      border-bottom: solid 1px #AFD9E5;
      margin: 100px 64px;
      padding-bottom: 81px;
      text-align: left;
    }

    .c-informes__inner {
      margin: 0;
      margin-bottom: 0px;
      padding-bottom: 81px;
    }
  }

  &__pagination {
    align-items: center;
    display: flex;
    justify-content: center;

    .page-numbers {
      align-items: center;
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 20px;
      height: 50px;
      justify-content: center;
      line-height: 20px;
      text-decoration: none;
      width: 50px;

      &.current {
        background: rgba(255, 215, 72, 1);
        font-weight: 700;
      }

      &.next, &.prev {
        background: rgba(242, 249, 251, 1);
        font-weight: 700;
      }
    }
  }
}