.c-donar {
  &__header-subtitle {
    @include sans;
    font-size: 20px;
    line-height: 24px;
  }

  &__form {
    @include sans;
    display: grid;
    margin: -10px;

    label {
      font-size: 16px;
      padding-left: 16px;
    }

    input {
      border: 1px solid $axe_yellow;
      border-radius: 3px;
      color: $gray;
      font-weight: 300;
      line-height: 10px;
      margin-bottom: 10px;
      padding: 10px;
    }

    input[type="radio"] {
      display: inline-block;
      width: auto;
    }

    ::placeholder {
      color: $gray;
      font-weight: 300;
    }
  }

  &__form-nombre {
    @include grid-columns(1, 7);
    padding: 0 10px;
    @include media("<tablet") {
      @include grid-columns(1, 13);
    }
  }

  &__form-apellido {
    @include grid-columns(7, 13);
    padding: 0 10px;
    @include media("<tablet") {
      @include grid-columns(1, 13);
    }
  }

  &__form-email {
    @include full-width-grid;
    padding: 0 10px;
    @include media("<tablet") {
      @include grid-columns(1, 13);
    }
  }


  &__form-amount {
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-size: 0;
    grid-column-end: 13;
    grid-column-start: 1;

    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }

    label {
      border: 1px solid $axe_yellow;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      line-height: 13px;
      margin: 1.1%;
      min-width: 31%;
      padding: 10px;
      text-align: center;
      width: auto;

      &:last-child {
        flex: 1;
      }
    }

    label:hover {
      background-color: $axe_yellow;
      color: darken($axe_yellow, 40%);
    }

    input[type="submit"]:hover {
      border-color: darken($axe_yellow, 40%);
    }

    input[type="radio"]:checked + label {
      background-color: $axe_yellow;
      color: darken($axe_yellow, 40%);
    }


    &-number {
      display: inline-block;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 30px;
      padding-bottom: 5px;
    }

    &-suffix,
    &-prefix {
      display: inline-block;
      font-size: 12px;
      padding: 3px;
    }

    &-descripcion {
      display: block;
    }

    @include media("<tablet") {
      @include grid-columns(1, 13);
    }
  }

  &__form-button {
    @include full-width-grid;
    padding: 10px 10px 0;

    input {
      line-height: 30px;
    }

    @include media("<tablet") {
      @include grid-columns(1, 13);
    }

    .c-hero__form-field {
      background-color: $axe_yellow;
      color: darken($axe_yellow, 40%)
    }
  }

  &__featured-image {
    background: $axe_blue;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: -9px;
    z-index: -1;
  }

  &__header-grid {
    display: flex;
    margin-top: 50px;

    > * {
      margin-right: 2%;
      width: 46%;
      @include media('<tablet') {
        width: 100%;
      }
    }
  }

}