.c-embed {
  &__iframe {
    border: 0px;
    border-radius: 8px;
  }

  &__inner {
    margin: 0 auto;
    max-width: 100%;
    width: 1232px;
  }

  &__iframe-desktop {
    display: block;
    @include media('<tablet') {
      display: none;
    }
  }

  &__iframe-mobile {
    display: block;
    @include media('>tablet') {
      display: none;
    }
  }
}