.c-features {
  $class: &;
  position: relative;
  text-align: left;

  &__institucional {
    margin-top: 96px;
    padding-bottom: 150px;
  }

  &__heading {
    text-align: center;

    &-volanta {
      @include sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &-title {
      @include serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 17px;
    }

    &-description {
      @include sans;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      margin: 0 auto 38px;
      max-width: 400px;
    }


    &-button {
      @include o-button;
      background: $axe_blue;
      border-radius: 8px;
      color: $white;
      text-decoration: none;

      &:visited {
        color: $white;
      }
    }
  }

  &__heading2 {
    @include serif;
    color: $axe_blue;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin: 0 auto 38px;
    text-align: center;
  }

  &__item-wrapper {
    @include grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    padding: var(--space-m);

    &-image {
      align-items: flex-end;
      display: flex;
      height: 190px;
      justify-content: center;
      margin-bottom: 40px;
      width: 100%;

      img {
        height: auto;
        object-fit: cover;
        object-position: bottom;
        width: 190px;
      }
    }

    &-titulo {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 44px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    &-bajada {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 24px;
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: auto;
    text-align: left;
    @include media('<tablet') {
      text-align: center;
    }
  }

  &__content-item {
    &-columns-1 {
      margin-top: var(--space-3xl);

      #{$class}__content-item {
        &-image {
          clear: right;
          float: left;
          width: 30%;

          @include media('<tablet') {
            width: 100%;
          }

          img {
            max-height: 160px !important;
          }
        }

        &-heading {
          float: right;
          width: 70%;

          @include media('<tablet') {
            width: 100%;
          }
        }

        &-bajada {
          float: right;
          width: 70%;

          @include media('<tablet') {
            width: 100%;
          }
        }

        &-descripcion {
          float: right;
          width: 70%;

          @include media('<tablet') {
            width: 100%;
          }
        }

        &-btn {
          float: right;
          margin-top: 15px;
          width: 70%;

          @include media('<tablet') {
            width: 100%;
          }

          a:hover {
            color: darken($axe_blue, 20%) !important;
          }
        }

      }
    }

    &-columns-2 {
      width: calc(50% - 8px);
      @include media('<tablet') {
        width: 100%;
      }
    }

    &-columns-3 {
      width: calc(33% - 8px);
      @include media('<tablet') {
        width: 100%;
      }
    }

    &-heading {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 16px;
    }

    &-content {
      @include sans;
      color: $black;
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 7px;
    }

    &-bajada {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 24px;
      margin-bottom: 10px;
    }

  }

  .c-features__content-item-image {

    img {
      max-height: 100px;
      text-align: center;
      width: auto;
    }
  }

}

.page-template-front-page {
  .c-features {
    margin-bottom: 60px;
    padding-top: 60px;
    text-align: center;
  }

  .c-features__content-item {
    text-align: center;
  }

  .c-features__heading-button {
    margin-bottom: 30px;
  }
}

.que-hacemos .c-features__content-item-wrapper {
  @include media('>tablet') {
    margin-right: 40px;
  }
}

.o-container-extra-narrow .c-features__content-item-wrapper {
  @include media('>tablet') {
    margin-right: 40px;
  }
}

.por-que-educacion {
  .c-features__heading-title {
    color: $black;
    font-family: 'Noticia Text', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin: 0 auto 100px;
    position: relative;
    text-align: center;

    &:after {
      background-image: url('assets/banner-onda.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      bottom: -50px;
      content: '';
      height: 30px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .c-features__content-item-wrapper {
    margin-bottom: 50px;

    .c-features__content-item-image {
      float: left;
    }
  }

  .c-features__content-item-heading {
    color: $black;
    padding-left: 110px;
  }

  .c-features__content-item-descripcion {
    padding-left: 110px;
  }

  .c-banner__title {
    font-size: 40px;
    line-height: 55px;
    margin: 40px auto;
    max-width: 100%;
    text-align: center;
    width: 608px;
  }

  .c-banner__boton a {
    background: $axe_blue;
    color: $white;
  }

  .c-quotes-main-title {
    color: $black;
    font-family: 'Noticia Text', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin: 0 auto 100px;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-align: center;
    width: 608px;

    &:after {
      background-image: url('assets/banner-onda.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      bottom: -50px;
      content: '';
      height: 30px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .c-call-to-action__heading {
    color: #333;
  }

  .cta-pqe {
    background-image: url('assets/back-pqe.jpg');
    background-position: 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 400px;
    position: relative;

    &:before {
      background: linear-gradient(white, transparent);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 97px;
      z-index: 0;
    }

    .c-text-block__container {
      position: relative;
      z-index: 1;
    }
  }
}