.c-footer {

  &__inner {
    @include grid;
    @include media(">tablet") {
      padding: var(--space-4xl);
    }

    @include media("<tablet") {
      display: block;
    }
  }

  &__heading {
    @include full-width-grid;
    @include serif;
    font-size: 32px;
    font-weight: 700;
    @include media('<tablet') {
      margin-top: 30px;
    }
  }

  &__newsletter {
    @include grid-columns(1, 8);
    padding-right: 50px;
    @include media("<tablet") {
      @include grid-columns(1, 13);
      padding: 0;
    }
  }

  &__credits {
    @include grid-columns(8, 13);
    @include media("<tablet") {
      @include grid-columns(1, 13);
    }

    .c-footer__copyright {
      margin-top: 28px;
    }

    .c-footer__social {
      margin-top: 28px;

      &-icon {
        height: 40px;
        margin-right: 27px;
        width: 40px;
        @include media("<tablet") {
          margin-right: 15px;
        }
      }
    }
  }

  &__form {
    @include sans;
    font-size: 20px;
    font-weight: 600;

    label, input {
      display: block;
      margin-bottom: 4px;
      width: 100%;
    }

    label {
      padding-left: 16px;
    }

    input {
      color: $gray;
      font-weight: 300;
      line-height: 10px;
      margin-bottom: 24px;
    }
  }

  .p-header,
  .p-close {
    display: none;
  }

  .p-submit {
    background: $axe_blue;
    color: $white;
    display: block;
    padding: 18px;
    width: 100%;
  }

  .p-body > p {
    font-weight: 400;
  }

}
