#content {
  padding-bottom: 116px;
  padding-top: 116px;

  @include media('<tablet') {
    padding-bottom: 116px;
    padding-top: 116px;
    top: 116px;
  }
}

.c-header {
  $class: &;
  background-color: $white;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 116px;
  padding-bottom: var(--space-xs);
  padding-top: var(--space-xs);
  position: fixed;
  top: 0px;
  transition: height 0.3s ease;
  width: 100%;
  z-index: 7;

  @include media('<tablet') {
    padding-bottom: 0;
    padding-top: 0;
  }

  &.sticky_header {
    background: $white;
    box-shadow: 0px 0px 10px 2px #00000026;
    height: 86px;
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
    @include media('<tablet') {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &.with-admin {
    top: 32px;
  }

  &__inner {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 16px;

    @include media('>tablet') {
      justify-content: space-between;
      padding-left: var(--space-4xl);
      padding-right: var(--space-4xl);
    }
  }

  &__logo {
    height: 66px;
    transition: color .3s;
    @include media('<tablet') {
      height: 31px;
      margin-right: auto;
    }
  }

  &__logo-image {
    background: url('./assets/logo-color.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 66px;
    max-width: 290px;
    width: 290px;

    @include media('<tablet') {
      height: 31px;
      max-width: 138px;
      width: 138px;
    }
  }

  &.sticky_header {
    .c-header__logo-image {
      background: url('./assets/logo-color.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
      color: #979797;
    }
  }

  &__burger {
    display: none;
    @include media('<tablet') {
      display: block;
      margin-left: 10px;
      order: 3;
    }
  }

  &__menu-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @include media('<tablet') {
      display: none;
    }
  }

  &__donar-button {
    background: $axe_yellow;
    border: transparent;
    color: darken($axe_yellow, 40%) !important;
    font-weight: 600;
    padding: var(--space-xs) var(--space-m);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    @include media('<tablet') {
      order: 2;
    }
  }

  &__has-background {
    background: transparent;

    .c-header__logo-image {
      background: url('./assets/logo-blanco.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
      color: $white;
    }
  }


}

.single-campana,
.page-template-page-datos,
.page-template-page-donar,
.page-template-page-por-que-educacion {
  .c-header__logo-image {
    background: url('./assets/logo-blanco.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .c-article header {
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: 'Noticia Text', serif;
    grid-column-end: 13;
    grid-column-start: 1;
    margin-top: -116px;
    min-height: 620px;
    padding-top: 100px;
    position: relative;
    @include media('<tablet') {
      margin-top: -116px;
      padding-top: 116px;
    }
  }


  .c-article__header-content-wrapper {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: -100px;
    padding-top: 213px;
    @include media('<tablet') {
      margin-top: -116px;
      padding-top: 116px;
    }
  }


  .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
    color: $white;
  }


}

// vars
$color: #222; // icon color
$blue: #158fef; // background color
$animation: 0.6s; // animation speed
$scale: .6; // icon scale 68/68 default

*, *:before, *:after {
  box-sizing: border-box;
}

// spacing + background-color


.hamburglar {
  background: transparent;
  height: 68px;
  margin: 0;
  position: relative;
  -webkit-touch-callout: none;
  transform: scale($scale);
  user-select: none;
  width: 68px;
  z-index: 2;
}

// transition mask
.path-burger {
  height: 68px;
  left: 0;
  mask: url(#mask);
  -webkit-mask-box-image: url('./assets/mask.svg');
  position: absolute;
  // two masks because... browser support.
  top: 0;
  width: 68px;
}

.animate-path {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 68px;
}

// what this does is create a small square that I then rotate behind an svg mask, giving the apparence of the line animating
.path-rotation {
  height: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0;
  width: 34px;

  &:before {
    background: $color;
    content: '';
    display: block;
    height: 34px;
    margin: 0 4px 0 0;
    width: 30px;
  }
}

// box rotation animation
@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// offset moves
// dasharray is the dash size
// need to be able to control dash space size.

.hamburglar.is-open {
  .path {
    animation: dash-in $animation linear normal;
    animation-fill-mode: forwards;
  }

  .animate-path {
    animation: rotate-in $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.hamburglar.is-closed {
  .path {
    animation: dash-out $animation linear normal;
    animation-fill-mode: forwards;
  }

  .animate-path {
    animation: rotate-out $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}


// All good burgers need filling!

.burger-icon {
  height: 68px;
  padding: 20px 16px;
  position: absolute;
  width: 68px;
}

.burger-container {
  height: 28px;
  position: relative;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  background: $color;
  border-radius: 2px;
  display: block;
  height: 4px;
  position: absolute;
  width: 36px;
}

.burger-bun-top {
  top: 0;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  transform-origin: 34px 2px;
}

//.burger-filling {
//  @include transition(all,($animation/2.5),ease-in-//out);
//}
// relative parent is the button
.burger-filling {
  top: 12px;
}


// burger ring container
.burger-ring {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 68px;
}

.svg-ring {
  height: 68px;
  width: 68px;
}


// bun animations
.hamburglar.is-open {
  .burger-bun-top {
    animation: bun-top-out $animation linear normal;
    animation-fill-mode: forwards;
  }

  .burger-bun-bot {
    animation: bun-bot-out $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.hamburglar.is-closed {
  .burger-bun-top {
    animation: bun-top-in $animation linear normal;
    animation-fill-mode: forwards;
  }

  .burger-bun-bot {
    animation: bun-bot-in $animation linear normal;
    animation-fill-mode: forwards;
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}


@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}


// burger filling
.hamburglar.is-open {
  .burger-filling {
    animation: burger-fill-out $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.hamburglar.is-closed {
  .burger-filling {
    animation: burger-fill-in $animation linear normal;
    animation-fill-mode: forwards;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }
}

.js-burger-content {
  @include media('<tablet') {
    background: $axe_yellow;
    display: none;

    &.is-open {
      bottom: 0;
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .c-main-menu__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100vh;
      justify-content: flex-start;
      margin-left: 0;
      margin-top: 120px;
      padding-left: 27px;
      padding-right: 22px;

      a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        margin-bottom: 16px;
      }
    }
  }
}

.c-header__has-background .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a,
.c-header.sticky_header .c-header__inner .c-header__menu-wrapper .c-main-menu .c-main-menu__list li a {
  @include media('<tablet') {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 16px;
  }
}

.page-que-hacemos,
.page-informes,
.tax-acciones,
.single-post {
  #header {
    background-color: transparent;

    &.sticky_header {
      background-color: $white;
    }
  }

  &:before {
    background-color: $lavanda;
    background-image: url('assets/shape__05.png');
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: auto;
    content: '';
    height: 390px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0;
    width: 100%;
    z-index: -1;
  }

}

.page-informes {
  &:before {
    height: 490px;
  }
}

.tax-acciones {
  &:before {
    height: 440px;
  }
}

.single-post {
  &:before {
    height: 740px;
  }
}

.single-campana {
  .c-article__header-content-wrapper {
    padding-bottom: 200px;
    @include media('<tablet') {
      padding-bottom: 20px;
    }
  }

  #content,
  .c-informes__search-results .c-informes__inner {
    padding-bottom: 0;
  }

}