.c-hero {
  background: #f2f9fb;
  background-size: cover;
  box-sizing: border-box;
  box-sizing: content-box;
  color: #fff;
  display: flex;
  height: auto;
  margin-top: -116px;
  min-height: 582px;
  overflow: hidden;
  padding-top: 116px;
  position: relative;

  &:before {
    background: #000000;
    content: '';
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }


  @include media("<tablet") {
    display: block;
    height: auto;
    padding-bottom: 70px;
  }

  &__wrapper {
    padding: 52px var(--space-4xl) var(--space-4xl) var(--space-4xl);
    padding-bottom: 113px;
    position: relative;
    z-index: 3;

    @include media("<tablet") {
      padding: 0;
    }
  }


  &__image {
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__inner {
    display: flex;
    @include media("<tablet") {
      display: block;
    }
  }

  &__heading {
    width: 50%;
    @include media("<tablet") {
      width: 100%;
    }
  }

  &__form-wrapper {
    border: solid 1px $axe_yellow;
    padding: 30px;
    width: 50%;
    @include media("<tablet") {
      width: 100%;
    }

    &-title {
      @include serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 24px;
      text-align: center;
    }
  }

  &__heading-title {
    @include serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-right: var(--space-4xl);
    margin-top: 0px;
    @include media('<tablet') {
      font-size: 38px;
      font-weight: 700;
      line-height: 42px;
      margin-right: 0;
    }
  }

  &__heading-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-right: var(--space-4xl);
    @include media('<tablet') {
      margin-right: 0;
    }

  }


  .mejs-container {
    min-height: 582px;
    position: relative;
  }

  .flex-video {
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    @include media('<tablet') {
      display: none;
    }
  }

  .flex-video iframe,
  .flex-video video {
    background: #ccc;
    display: grid;
    height: 70vh;
    margin: 0 auto;
    place-items: center;
    position: relative;
    width: 70vw;
  }


  video.fullscreen {
    height: 100%;
    left: 50%;
    object-fit: cover; // this is the key
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include media('<tablet') {
      display: none;
    }

    &::-webkit-media-controls {
      display: none !important;
    }
  }

}
