.c-informes {

  &__inner {
    @include grid;
    grid-column-gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    @include media('<tablet') {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__card {
    margin-bottom: var(--space-l);
    @include media('<tablet') {
      margin-bottom: var(--space-2xl);
    }

    &-image {
      border-radius: 8px;
      height: 225px;
      margin-bottom: 16px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:after {
        content: '';
        display: block;
        padding-top: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-content {
      @include media('>tablet') {
        padding: var(--space-m);
      }
    }

    &-date {
      @include sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &-title a {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin: 0 0 16px;
      text-decoration: none;
    }

    &-description {
      @include sans;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 15px;

      p {
        margin-bottom: 0px;
      }
    }

    &-link {
      @include sans;
      color: $axe_blueish !important;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-top: 0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__search {
    @include media('>tablet') {
      margin: 0 64px;
      padding: 30px 0;
    }
  }

  &__search-heading {
    color: $axe_blue;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  &__search-subtitle {
    @include sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
  }

  &__search-input {
    font-size: 20px;
    font-weight: 300;
    height: 56px;
    line-height: 24px;
    max-width: 80%;
    width: 643px;
    @include media('<tablet') {
      margin-bottom: 10px;
      max-width: 100%;
      width: 100%;
    }
  }

  &__search-button {
    border: 0px;
    border: solid 1px $axe_blue;
    cursor: pointer;
    height: 56px;
    margin-left: 16px;
    width: 297px;
    @include media('<tablet') {
      margin-left: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  &__search-results {

    .c-informes__wrapper {
      border-bottom: solid 1px #AFD9E5;
      margin: 100px 0;
      padding-bottom: 81px;
      text-align: left;
      @include media('<tablet') {
        margin: 30px 0;
      }
    }

    .c-informes__inner {
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      margin-bottom: 0px;
      padding-bottom: 81px;
      @include media('<tablet') {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__pagination {
    align-items: center;
    display: flex;
    justify-content: center;

    .page-numbers {
      align-items: center;
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 20px;
      height: 50px;
      justify-content: center;
      line-height: 20px;
      text-decoration: none;
      width: 50px;

      &.current {
        background: rgba(255, 215, 72, 1);
        font-weight: 700;
      }

      &.next, &.prev {
        background: rgba(242, 249, 251, 1);
        font-weight: 700;
      }
    }
  }
}