.c-quotes {
  background: $axe_light;
  background-image: url('assets/shape__02.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px auto;
  margin-top: -70px;
  padding-bottom: 150px;
  padding-top: 150px;
  position: relative;
  z-index: -1;

  @include media('<tablet') {
    padding-bottom: 30px;
    padding-top: 0;
  }

  &__heading {
    @include serif;
    color: $axe_blue;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
    @include media('<tablet') {
      font-size: 32px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 15px;
      margin-top: 0;
      padding-top: 30px;
      text-transform: none;
    }
  }

  &__item {
    @include grid;
    @include media("<tablet") {
      display: block;
    }
  }

  &__item-content {
    @include grid-columns(1, 8);
    margin-left: auto;
    max-width: 492px;
    @include media("<tablet") {
      @include grid-columns(1, 13);
      margin: auto;
      max-width: 492px;
      width: 100%;
    }
  }

  &__item-content {
    @include sans;
    color: $black;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    @include media("<tablet") {
      font-size: 20px;
      font-size: 20px;
      text-align: center;
    }
  }

  &__item-metadata {
    @include sans;
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  &__item-image-wrapper {
    @include grid-columns(9, 13);
    margin-right: auto;
    max-width: 240px;
    @include media("<tablet") {
      @include grid-columns(1, 13);
      margin: auto;
      max-width: 492px;
      width: 100%;
    }
  }

  &__item-image {
    background-size: cover;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    @include media("<tablet") {
      margin: 30px auto 0;
    }
  }

  &__cta-wraper {
    display: block;
    text-align: center;
  }

  &__cta-wraper__btn {
    background: $white;
    border-radius: 8px;
    color: $axe_blue;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: var(--space-m) 115px;
    text-transform: uppercase;
    @include media('<tablet') {
      padding: var(--space-m);
    }
  }
}

.slick-dotted.slick-slider .slick-list {
  @include media('<tablet') {
    padding-bottom: 0px;
  }
}

.slick-dotted.slick-slider {
  @include media('<tablet') {
    margin-bottom: 30px;
    padding-bottom: 70px;
  }
}