.c-referentes {
  margin: 0 auto;
  max-width: 100%;
  padding: var(--space-2xl) 0;
  width: calc(932px + (32px * 2));

  &__container {
    @include o-container;
  }

  &__title {
    @include serif;
    color: $axe_blue;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 44px;
    text-align: center;
    text-transform: uppercase;
  }

  &__descripcion {
    @include sans;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 44px;
    text-align: center;
  }

  &__content {
    column-count: 3;
    column-gap: 16px;
    margin-bottom: 44px;

    @include media('<tablet') {
      column-count: 1;
      text-align: center;
    }
  }

  &__boton {
    display: flex;

    a {
      background: rgba(255, 215, 72, 1);
      color: #222;
      display: inline-block;
      display: inline-block;
      text-decoration: none;
      width: auto;
    }
  }
}