.c-shape {
  width: 100%;

  &__01 {
    bottom: -2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 2;
    @include media('<tablet') {
      height: 44px;
      z-index: 2;
    }
  }

  &__03 {
    bottom: -10px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
  }

  &__04 {
    background-image: url('assets/shape__04.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    bottom: -180px;
    content: '';
    left: 0px;
    position: absolute;
    right: 0px;
    top: -650px;
    z-index: -1;
  }

  &__datos {
    bottom: -9px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
  }

  &__05 {
    bottom: 0px;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    z-index: 4;

    svg {
      display: block;
      height: 150px;
      position: relative;
      width: calc(151% + 1.3px);
      @include media('<tablet') {
        height: 50px;
      }
    }

    .shape-fill {
      fill: #FFFFFF;
    }
  }
}