.c-statement {

  &__inner {
  }

  header {
    @include full-width-grid;
    @include serif;
    background: $lavanda;
  }

  &__header-content-wrapper {
    @include grid;
    @include media('>tablet') {
      padding: 0 var(--space-4xl);
    }
  }

  &__metadata {
    @include grid-columns(1, 9);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }

  &__featured-image {
    @include grid-columns(9, 13);
    @include media('<tablet') {
      @include grid-columns(1, 13);
      margin: 30px 0;
      text-align: center;
    }

    &-inner {
      background-size: cover;
      border-radius: 50%;
      height: 300px;
      width: 300px;
    }

  }

  &__volanta {
    @include sans;
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  &__heading {
    @include serif;
    color: $axe_blue;
    font-size: 32px;
    line-height: 43px;

  }

  &__bajada {
    @include sans;
    color: $black;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;

  }

  &__content {
    padding: var(--space-4xl);
    @include grid;
  }

  &__content-inner {
    @include grid-columns(1, 10);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &.has-declaracion {
      @include grid-columns(1, 9);
      @include media('<tablet') {
        @include grid-columns(1, 13);
      }
    }
  }

  .c-declaracion {
    @include grid-columns(9, 13);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    a {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      text-decoration: none;
    }
  }

  .c-informe__cta a {
    background: #FFD748;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
  }
}

.single-post {
  .c-article__featured-image {
    @include grid-columns(1, 11);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &-inner {
      border-radius: 8px;
      display: block;
      height: auto;
      margin-top: 50px;
      width: 100%;
    }
  }
}

.single-informe {
  .c-article__metadata {
    @include grid-columns(1, 8);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }
  }

  .c-article__featured-image {
    @include grid-columns(8, 13);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    &-inner {
      height: 400px;
      width: 400px;
      @include media('<tablet') {
        height: 280px;
        margin: 30px auto;
        width: 280px;
      }
    }
  }
}

.single-campana {

  .c-article__metadata {
    @include grid-columns(1, 8);
    @include media('<tablet') {
      @include grid-columns(1, 13);
    }

    .c-article__heading, .c-article__bajada {
      color: #FFF;
    }
  }

  .destaque {
    grid-column-end: 13;
    grid-column-start: 8;
    text-align: right;
    @include media('<tablet') {
      grid-column-end: 13;
      grid-column-start: 1;
      z-index: 2;
    }

    .destaque-inner {
      align-content: center;
      background: $axe_yellow;
      border-radius: 50%;
      color: darken($axe_yellow, 40%);
      display: flex;
      flex-direction: column;
      height: 296px;
      justify-content: center;
      margin-left: auto;
      text-align: center;
      width: 296px;
      @include media('<tablet') {
        height: 160px;
        margin-right: auto;
        width: 160px;
      }
    }

    .numero {
      display: block;
      font-size: 44px;
      font-weight: 700;
      line-height: 44px;
      @include media('<tablet') {
        font-size: 30px;
        line-height: 32px;
        text-align: center;
      }
    }

    .etiqueta {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 8px;
    }
  }

  .c-article__featured-image {
    background: $axe_blue;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: -1;

    &:before {
      background: radial-gradient(transparent, #000000);
      content: '';
      height: 100%;
      left: 0;
      opacity: .7;
      position: absolute;

      top: 0;
      width: 100%;
      z-index: 0;
    }

    &-inner {
      background-position: center;
      border-radius: 0px;
      color: #FFF;
      height: 100%;
      min-height: 620px;
      width: 100%;
    }
  }
}

.page-por-que-educacion {
  .c-statement {
    background-color: $lavanda;
    padding-bottom: 125px;
    padding-top: 100px;
    position: relative;

    &:before {
      background-color: $white;
      background-image: url('assets/shape__06a.png');
      background-repeat: no-repeat;
      content: '';
      height: 100px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:after {
      background-color: $white;
      background-image: url('assets/shape__06b.png');
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      height: 125px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}