.c-staff {
  margin-bottom: 60px;
  text-align: center;

  &__inner {
    text-align: center;
  }

  &__heading {
    @include serif;
    color: $black;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__list {
    @include grid();
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    @include media('<tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.c-staff-consejo-asesor {
    margin-left: auto;
    margin-right: auto;
    @include media('<tablet') {
      width: 100%;
    }

    .c-staff__list {
      gap: 16px;
      grid-template-columns: repeat(6, 1fr);
      @include media('<tablet') {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .c-staff__card {

      &-title {
        text-align: center;
      }
    }
  }

  &.c-staff-equipo {
    margin-bottom: 80px;

    .c-staff__list {
      gap: 16px;
      grid-template-columns: repeat(6, 1fr);
      @include media('<tablet') {
        grid-template-columns: repeat(2, 1fr);
      }


      .c-staff__card-image img {
        height: 176px;
        width: 176px;
      }
    }

  }

  &__card {
    &-image {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      img {
        border-radius: 50%;
        height: 176px;
        object-fit: cover;
        width: 176px;
      }
    }

    &-title {
      @include serif;
      color: $axe_blue;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 8px;
      text-align: left;

      a {
        text-decoration: none;
      }
    }

    &-description {
      @include sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: left;
    }
  }

  &__item-wrapper {
    @include grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    padding: var(--space-m);

    &-image {
      align-items: flex-end;
      display: flex;
      height: 190px;
      justify-content: center;
      margin-bottom: 40px;
      width: 100%;

      img {
        height: auto;
        object-fit: cover;
        object-position: bottom;
        width: 190px;
      }
    }

    &-titulo {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 44px;
      margin-bottom: 10px;
    }

    &-bajada {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
    }
  }

  &__content {
    display: flex;
    gap: 16px;
    text-align: left;
  }

  &__content-item {
    &-heading {
      @include serif;
      color: $axe_blue;
      font-size: 32px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 7px;
    }

    &-content {
      @include sans;
      color: $black;
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 7px;
    }

  }

}