// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


// A 12 column grid.
@mixin grid {
  display: grid;
  grid-column-gap: $gutter;
  grid-template-columns: repeat(12, 1fr);

  @include media("<tablet") {
    grid-template-columns: repeat(4, 1fr);
  }
}

// The element should span all 12 columns.
@mixin full-width-grid {
  grid-column-start: 1;
  grid-column-end: 13;

  @include media("<tablet") {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

// The element should span from column {start} to column {end}
@mixin grid-columns($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin o-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$max-width} + #{$gutter * 2});
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;

  @include media("<tablet") {
    max-width: calc(#{$max-width} + #{$gutter--mobile * 2});
    padding-left: $gutter--mobile;
    padding-right: $gutter--mobile;
  }
}

@mixin sans {
  font-family: 'Mulish', sans-serif;
}

@mixin serif {
  font-family: 'Noticia Text', serif;
}


/*
    ===============================
    BOURBON NEAT GRID
    ===============================
*/
/*
@mixin u-container() {
  @include grid-container;
  box-sizing   : border-box;
  margin-left  : auto;
  margin-right : auto;
  max-width    : $max-width;
}

.u-container {
  @include u-container;
}
*/
